/** NNELS_CALS_v002**/

/* 01/10/2014 */

/** blocks.css **/

/* @group generic */

.block {
}

.spacer-block {
	/*background-color: fuchsia;*/
	float: left;
	clear: both;
	width: 240px;
	margin: 10px 0 0;
	padding: 5px 5px 5px 10px;
}

/* @end */

/* @group header-logo - logo-wordmark */

.header-logo {
	float: left;
	width: 760px;
	height: 160px;
	margin: 0;
	padding: 0;
	/*background: fuchsia url(../images/NNELS-header-logo.png) no-repeat 5px center;*/
	background: /*pink*/ url(../images/NNELS-Header-Logo-CC0000.png) no-repeat 5px center;
}

.header-logo a.home-link {
	/*background: lemonchiffon;*/
	float: left;
	width: 235px;
	height: 0px;
	margin: 0;
	padding: 160px 0 0;
	overflow: hidden;
}

.header-logo h1.site-title {
	/*background: orangered;*/
	float: left;
	margin: 20px 5px 5px;
	padding: 0;
	/*font: normal 36px/40px 'open_sans_condensedbold', sans-serif;*/
	font: normal 36px/40px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.header-logo h2.site-subtitle {
	/*background: navy;*/
	float: left;
	margin: 5px;
	padding: 0;
	/*font: normal 22px/28px 'open_sans_condensedbold', sans-serif;*/
	font: normal 22px/28px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

/* @end */

/* @group user-login */

.user-login {
	/*background-color: aqua;*/
	float: right;
	margin: 0;
	padding: 0;
}

.user-login.library {
	margin: 0 10px 0 0;
	padding: 0;
}

.user-login a {
	/*background-color: gold;*/
	margin: 30px 0 0;
	padding: 3px 5px;
	/*color: #FFFFFF;
	background-color: #666666;
	border: 1px dotted #333333;*/
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.user-login a:hover {
	/*color: #EC1C24;
	background-color: #BBBBBB;*/
	color: #CC6600;
	background-color: #EEEEEE;
}

.region-header .block-calsauthen {
	/*background-color: pink;*/
	/*display: block;*/
	float: right;
	margin: 0;
	padding: 0;
}

.region-header .block-calsauthen a {
	/*background-color: gold;*/
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 5px 10px;
	color: #333333;
	background: #D0D0D0;
	border: 1px solid #336699;
}

.region-header .block-calsauthen a:hover {
	/*color: #EC1C24;
	background-color: #BBBBBB;*/
	color: #CC6600;
	background-color: #EEEEEE;
}

.block.block-calsauthen.detail-library-registration .block-content {
	display: inline-block;
	margin-top: 1em;
}

/* @end */

/* @group user-logged-in */

.user-logged-in {
	/*background-color: firebrick;*/
	float: right;
	margin: 0;
	padding: 0;
	clear: right;
}

.user-logged-in a {
	/*background-color: gold;*/
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 5px 10px;
	color: #333333;
	background: #D0D0D0;
	border: 1px solid #336699;
}

.user-logged-in a:hover {
	/*background-color: limegreen;*/
	color: #CC6600;
	background: #EEEEEE;
}

/* @end */

/* @group browse-repository */

.browse-repository {
	/*background-color: darkgoldenrod;*/
	margin: 0;
	padding: 5px;
	overflow: hidden;
}

.browse-repository .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px solid #336699;
}



/* @end */

/* @group social-media */

.social-media {
	/*background-color: fuchsia;*/
	/*border: 1px dotted #333333;*/
	float: left;
	clear: both;
	margin: 10px 0 0;
	padding: 5px 5px 5px 10px;
}

.social-media .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px dotted #333333;
}

/* @end */

/* @group node-cover-art */

.node-cover-art {
	/*background-color: fuchsia;*/
	text-align: center;
}


/* @end */

/* @group facet searches */

.facet-search {
	background-color: orangered;
	background-color: #DDDDDD;
	width: 240px;
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #336699;
}

.facet-search h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 0 5px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
}

.facet-search.creator {
	
}

.facet-search.genre {
	
}

/* @end */

/* @group block-block-2 - copyright/contact */

#block-block-2 {
	background: fuchsia;
	float: right;
	width: 380px;
	margin: 0;
	padding: 10px 10px 10px 20px;
	border: 1px solid #336699;
	background: #FFFFFF;
}

/* @end */

/* @group block-block-5 - territory login */

#block-block-5 {
	margin: 0;
	padding: 5px;
	/*background: fuchsia;*/
}

#block-block-5 .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px solid #336699;
}

#block-block-5 .province-login.sask {
	/*background-color: orangered;*/
	margin: 5px 0 0;
	padding: 5px;
}

#block-block-5 .province-login a {
	/*background-color: gold;*/
	color: #FFFFFF;
	background-color: #666666;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

#block-block-5 .province-login a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}

#block-block-5 .note {
	/*background-color: lawngreen;*/
	margin: 0;
	padding: 5px;
}

/* @end */

/* @group discussions-groups */

.discussion-groups {
	/*background-color: fuchsia;*/
	margin: 0 0 10px;
	padding: 0px;
	border: 1px solid #336699;
	overflow: hidden;
}

.discussion-groups h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 5px 5px 5px 15px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
	background-color: #CCCCCC;
}



/* @end */
=======
>>>>>>> mbehiels
