/** NNELS_CALS_v002**/

/* 01/10/2014 */

/** blocks.css **/

/* @group generic */

.spacer-block {
	/*background-color: fuchsia;*/
	float: left;
	clear: both;
	width: 240px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.block-content {
	max-width: 100%;
}

/* @end */

/* @group pagestyle - colour contrast selector */
.block-pagestyle {
  display: none;
  /* Desktop */
  /*display: table-cell;
  padding: 3px 0 3px 10px;
  vertical-align: middle;*/
}
.block-pagestyle .block-title {
	font-size: 1rem;
}
.block-pagestyle div.pagestyle_list select#edit-pagestyle-select {
	margin-bottom: 0;
  width: 100px;
}
/*** 605+ ***/
@media screen and (min-width: 37.8125rem) {
	.block-pagestyle {
    display: table-cell;
    padding: 10px 0 5px 0;
    vertical-align: middle;
	}
}
.block-pagestyle label {
  padding: 0 10px 0 0;
}
/* @end */

/* @group text-resize - text resizer */
.block-text-resize {
	float: right;
	margin-right: 1em;
	display: flex;
	flex-flow: column-reverse;
}
.block-text-resize .block-title {
	font-size: 1rem;
}
.block-text-resize .changer {
	float: left;
	margin-left: 6px;
}
.block-text-resize #text_resize_decrease {
	margin-top: 6px;
}
.block-text-resize #text_resize_reset {
	margin-top: 3px;
}
.block-text-resize #text_resize_increase {
	margin-top: 0;
}
#text_resize_clear {
	clear: none;
}

/*** Maximum width of 925ixels. ***/
@media screen and (max-width: 57.813rem) {
	.block-text-resize {
		display: none;
	}
}
/* @end */

/* @group header-logo - logo-wordmark */

.header-logo {
  width: 60%;
/*	max-width: 73%;
	height: auto;
	float: left;
	width: 760px;
	margin: 0;
	padding: 0;*/
}
.header-logo a.home-link {
  display: none;
/*	float: left;
	margin: 0;
	width: auto;
	height: auto;
	padding: 0;
	max-width: 34%;*/
}
.header-logo h1.site-title {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin: 5px;
/*	float: left;
	margin: 20px 5px 5px;
	padding: 0;
	font: normal 2.2rem/2.4rem 'clear_sansbold', sans-serif;
	text-decoration: none;*/
}
.header-logo h2.site-subtitle {
  display: none;
/*	float: left;
	margin: 5px;
	padding: 0;
	font: normal 1.3rem/1.4rem 'clear_sansbold', sans-serif;
	text-decoration: none;*/
}
/*** 540+ ***/
@media screen and (min-width: 34rem) {
  .header-logo {
    width: 65%;
  }
  .header-logo h1.site-title {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
  .header-logo h2.site-subtitle {
    display: block;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin: 5px;
  }
}
/*** 731+ ***/
@media screen and (min-width: 45.6875rem) {
  .header-logo {
    width: 75%;
  }
  .header-logo a.home-link {
    display: block;
    float: left;
    margin: .1rem .2rem;
    width: 20%;
  }
  .header-logo h1.site-title {
    float: left;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .header-logo h2.site-subtitle {
    float: left;
    font-size: 1rem;
    line-height: 1rem;
  }
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  .header-logo a.home-link {
    width: 25%;
  }
  .header-logo h1.site-title {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  .header-logo h2.site-subtitle {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}
/*** 908+ ***/
@media screen and (min-width: 56.75rem) {
  .header-logo a.home-link {
    margin: 0;
    max-width: 35%;
    width: auto;
  }
  .header-logo h1.site-title {
    margin: 20px 5px 5px;
  }
}
/*** Maximum width of 900 pixels. ***/
/*@media screen and (max-width: 56.7rem) {
  .header-logo h1.site-title {
  	margin: 5px;
  }
  .header-logo a.home-link {
  	width: 25%;
  	margin: .1rem .2rem;
  }
}*/

/*** Maximum width of 820 pixels. ***/
/*@media screen and (max-width: 51.25rem) {
	.header-logo {
		max-width: 65%;
	}
  .header-logo a.home-link {
  	width: 20%;
  }
  .header-logo h1.site-title {
  	font-size: 1.8rem;
  	line-height: 1.8rem;
  }
  .header-logo h2.site-subtitle {
  	font-size: 1rem;
  	line-height: 1rem;
  }
}*/

/*** Maximum width of 725 pixels. ***/
/*@media screen and (max-width: 45.675rem) {
	.header-logo a.home-link {
		display: none;
	}
	.header-logo h1.site-title {
		font-size: 2rem;
		line-height: 2.2rem;
	}
	.header-logo h2.site-subtitle {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}
}*/


/* @end */

/* @group user-login */

/*.user-login {
	float: right;
	margin: 0;
	padding: 0;
}

.user-login.library {
	margin: 0 10px 0 0;
	padding: 0;
}

.user-login a {
	margin: 30px 0 0;
	padding: 3px 5px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}
.bookshelf-button a:hover,
.user-login a:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}

.region-header .block-cals-forms,
.region-header .block-calsauthen {
	float: right;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: center;
}

.region-header .block-cals-forms a,
.region-header .block-calsauthen a {
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 5px 10px;
	color: #333333;
	background-color: #DDD;
	border: 1px solid #336699;
}

.region-header .block-cals-forms a:hover,
.region-header .block-calsauthen a:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}

.block.block-cals-forms.detail-library-registration .block-content,
.block.block-calsauthen.detail-library-registration .block-content {
	display: inline-block;
	margin-top: 1em;
}*/

/*** Maximum width of 600 pixels. ***/
/*@media screen and (max-width: 37.8rem) {
	.region-header .block-cals-forms,
	.region-header .block-calsauthen {
		position: static;
	}
	.region-header .block-cals-forms a,
	.region-header .block-calsauthen a {
		float: none;
		margin: 0.4rem 0.6rem;
	}
}*/

/* @end */

/* @group user-logged-out */
.block-calsauthen {
  margin: 10px 10px 10px 0;
  /* Desktop */
  /*display: table-cell;
  margin: 0;
  padding: 8px 10px 8px 10px;
  text-align: right;*/
}
/*** 731+ ***/
@media screen and (min-width: 45.6875rem) {
  .block-calsauthen {
    margin-top: 3px;
  }
}
.block-calsauthen a {
  background: #DDD;
  border: 1px solid #336699;
  color: #333333;
  display: block;
  margin: 0 0 10px 0;
  padding: 5px;
  text-align: center;
  /* Desktop */
  /*display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: underline;*/
}
.block-calsauthen a.sign-up-search:after {
  /* Desktop */
  /*content: "|";
  display: inline-block;
  padding: 0 1px 0 5px;
  text-decoration: none;*/
}
.block-calsauthen a.sign-up-search:hover:after {
  color: #333333;
}
.block-calsauthen a:hover {
  color: #b34d00;
}

/* @end */

/* @group user-logged-in */

.block.bookshelf-button,
#block-logintoboggan-logintoboggan-logged-in,
.user-logged-in {
  display: block;
  margin: 10px 10px 10px 0;
  /* Desktop */
  /*display: table-cell;
	margin: 0;
	padding: 8px 10px 8px 10px;
	text-align: center;*/
}
.block.bookshelf-button {
  /* Desktop */
  /*width: 150px;*/
}
#block-logintoboggan-logintoboggan-logged-in {
  text-align: left;
  /* Desktop */
  /*text-align: right;*/
}
/*** 731+ ***/
@media screen and (min-width: 45.6875rem) {
  #block-logintoboggan-logintoboggan-logged-in {
    margin-top: 3px;
  }
}
#block-logintoboggan-logintoboggan-logged-in .username {
  display: none;
}

.bookshelf-button a,
.user-logged-in a {
  background: #DDD;
  border: 1px solid #336699;
  display: block;
  margin: 0 0 10px 0;
  padding: 5px 0;
  text-align: center;
  /* Desktop */
  /*color: #333333;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: underline;*/
}
.bookshelf-button a i {
  display: none;
}
.user-logged-in a.username:after {
  /* Desktop */
  /*content: "|";
  display: inline-block;
  padding: 0 1px 0 5px;
  text-decoration: none;*/
}
.user-logged-in a.username:hover:after {
  color: #333333;
}

.user-logged-in a:hover {
	color: #b34d00;
}

.user-logged-in .username.span {
	display: inline-block;
}

/*** Maximum width of 600 pixels. ***/
/*@media screen and (max-width: 37.8rem) {
	.user-logged-in a, 
	.user-logged-in .username.span {
		float: none;
		margin: 0.4rem 0.6rem;
	}
}*/

/* @end */

/* @group browse-repository */

.browse-repository {
	margin: 0;
	padding: 5px;
	overflow: hidden;
}

.browse-repository .block-title {
	border-bottom: 1px solid #336699;
}



/* @end */

/* @group social-media */

.social-media {
	float: left;
	clear: both;
	margin: 10px 0 0;
	padding: 5px 5px 5px 10px;
}

.social-media .block-title {
	border-bottom: 1px dotted #333333;
}

/* @end */

/* @group node-cover-art */

.node-cover-art {
	text-align: center;
}


/* @end */

/* @group facet searches */

.facet-search {
	background-color: orangered;
	background-color: #DDDDDD;
	width: 240px;
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #336699;
	max-width: 100%;
	clear: left;
}

.facet-search h2.block-title {
	margin: 0;
	padding: 0 5px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
}

.facet-search.creator {
	
}

.facet-search.genre {
	
}

/* In support of facet checkbox mode */
ul.facetapi-facetapi-checkbox-links.facetapi-processed,
/* Ajax facets */
.block-facetapi.block--ajax_facets ul.facetapi-facetapi-ajax-checkboxes {
	padding-left: 0px;
	list-style: none;
}

.block--ajax_facets .facetapi-facetapi-ajax-checkboxes label.option {
	font-weight: inherit;
	font-family: "clear_sansregular", sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.facetapi-facetapi-ajax-checkboxes .form-item.form-type-checkbox:hover {
    	font-weight: bold;
    	color: #CC6600;
}

/* @end */

/* @group request title link block */

.request-title-block {
	/*background-color: orangered;*/
	background-color: #DDDDDD;
	width: 240px;
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #336699;
	max-width: 100%;
	clear: left;
}

.request-title-block h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 0 5px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
}

.request-title-block .block-content {
	/*background-color: lime;*/
	margin: 0;
	padding: 0;
}

.request-title-block .block-content p {
	/*background-color: orangered;*/
	margin: 0;
	padding: 5px 5px 0;
	font-size: 16px;
	line-height: 20px;
}

.request-title-block a.request-title {
	/*background-color: gold;*/
	display: block;
	margin: 5px 0 0;
	padding: 3px 5px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
	text-align: center;
}

.request-title-block a.request-title:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}

/* @end */

/* @group externalsearch-single */

.external-search-block {
	/*background-color: orangered;*/
	background-color: #DDDDDD;
	width: 240px;
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #336699;
	max-width: 100%;
	clear: left;
}

.external-search-block h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 0 5px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
}

.external-search-block .block-content {
	/*background-color: lime;*/
	margin: 0;
	padding: 0;
}

.external-search-block .block-content p {
	/*background-color: orangered;*/
	margin: 0;
	padding: 5px 5px 0;
	font-size: 16px;
	line-height: 20px;
}

.external-search-block .externalsearch-single a {
	/*background-color: gold;*/
	display: block;
	margin: 5px 0 0;
	padding: 5px 5px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
	text-align: center;
}

.external-search-block .externalsearch-single a:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}

/* @end */

/* @group block-block-2 - copyright/contact */

#block-block-2 {
	float: right;
	margin: 0;
	width: 30%;
	min-width: 300px;
	vertical-align: top;
	padding: 0;
}

@media screen and (max-width: 34rem) {
	#block-block-2 {
		float: none;
		width: 90%;
		margin: 2rem 0.5rem;
	}
}


/* @end */

/* @group block-block-5 - territory login */

#block-block-5 {
	margin: 0;
	padding: 5px;
	/*background: fuchsia;*/
}

#block-block-5 .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px solid #336699;
}

#block-block-5 .province-login.sask {
	/*background-color: orangered;*/
	margin: 5px 0 0;
	padding: 5px;
}

#block-block-5 .province-login a {
	/*background-color: gold;*/
	color: #FFFFFF;
	background-color: #666666;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

#block-block-5 .province-login a:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}

#block-block-5 .note {
	/*background-color: lawngreen;*/
	margin: 0;
	padding: 5px;
}

/* @end */

/* @group discussions-groups */

.discussion-groups {
	/*background-color: fuchsia;*/
	margin: 0 0 10px;
	padding: 0px;
	border: 1px solid #336699;
	overflow: hidden;
	max-width: 100%;
	clear: left;
}
.discussion-groups ul,
.discussion-groups ul li {
	max-width: 100%;
}

.discussion-groups h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 5px 5px 5px 15px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
	background-color: #CCCCCC;
}



/* @end */



/* @group top of page operations (added by DK) */
.admin-repo-item-operations {
	margin: 0;
	padding: 10px;
	border-style: none;
}

.admin-repo-item-operations .form-submit {
	margin: 0 5px 5px 0;
	padding: 3px 5px;
	color: #333333;
  font-family: 'clear_sans_mediumregular';
	white-space: nowrap;
  line-height: normal;
  font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.admin-repo-item-operations .form-submit:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}


/* @end */

/* @group search-reset-filters block */

.block-current-search.search-reset-filters,
.block-ajax-reset {
	clear: left;
}

.search-reset-filters .reset-filters-link-wrapper,
.block-ajax-reset .block-content {
        margin: 0;
        padding: 6px 10px 5px 10px;
        color: #333333;
        background: #FFFFFF;
        border: 1px solid #336699;
        height: 35px;
}

.block-ajax-reset .item-list li {
	list-style: none;
}

.search-reset-filters .reset-filters-link-wrapper a,
.block-ajax-reset .block-content a {
        color: #333333;
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
}

.search-reset-filters .reset-filters-link-wrapper:hover,
.block-ajax-reset .block-content:hover {
        background: #C2C2C2;
}

.search-reset-filters .reset-filters-link-wrapper a:hover,
.block-ajax-reset .block-content a:hover {
        color: #b34d00;
}

.ajax-facets-submit-all-link {
    	visibility: hidden;
}

/* @end*/

/* Flags */
.block-flag-lists ul.flag-lists-links li {
	list-style: none !important;
}

.block-flag-lists {
	display: block;
	float: left;
	width: auto;
}

.block-webform h2.node-title {
    display: none;
}