/** NNELS_CALS_v001A **/
/** comments.css **/

.comments {
}

.comments {
	/*background-color: limegreen;*/
	margin: 20px 0;
	padding: 0;
}

.comments h2.title {
}

.comments h2.title {
	/*background-color: palegreen;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
	border:  none;
	border-bottom: 1px dotted #333333;
}

.comments h2.comment-form {
}

section.comments h3.comment-title {
	/*background-color: violet;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.comment {
	/*background-color: lemonchiffon;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 5px;
	padding: 5px;
	border: 1px dotted #333333;
}

.comments .field-name-comment-body {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
}

.comment-preview {
	background-color: #EEEEEE;
}

.comment.new {
}

.comment.first {
}

.comment.last {
}

.comment.odd {
}

.comment.even {
}

.comment-by-anonymous {
}

.comment-by-node-author {
}

.comment-by-viewer {
}

.comment .new {
	color: #C00C00;
}

.comment .user-picture {
}

.comment .submitted {
}

.comment .submitted .permalink {
	/*background-color: red;*/
	float: right;
	margin: 0 20px 0 0;
	padding: 0;
}

.comment .user-signature {
}

.comment ul.links {
}

.indented {
	margin-left: 30px;
}

.comment-unpublished {
	/* Unpublished comments */
}

.comment-unpublished p.unpublished {
	/* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */
}

/* @group comment form */

.comment-form {
	/*background-color: forestgreen;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px;
	border: 1px dotted #333333;
}

.comment-form .form-item {
	/*background-color: indigo;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 0 0 5px;
	padding: 10px;
}

.comment-form .form-actions {
	/*background-color: pink;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 0 0 5px;
	padding: 10px;
}

.comment-form .filter-wrapper {
	/*background-color: orangered;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 0 0 5px;
	padding: 10px;
}

.comment-form .form-actions input {
	margin: 5px 10px 5px 5px;
	padding: 5px 10px;
	border: 1px solid #336699;
	background-color: #FFFFFF;
	text-align: center;
}

.comment-form .form-actions input:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}



/* @end */
