/** NNELS_CALS_v001A **/
/** dev-overrides.css **/

/* @group header-logo - logo-wordmark */

.header-logo {
	background-color: indianred;
}

/* @end */

.block-masquerade {
	background-color: orange;
	float: left;
}

.block-switchtheme {
	background-color: red;
	float: right;
}