/* NNELS_CALS_v001 */ /* blocks.css */

/* @group generic */

.block {
}

/* @end */

/* @group header-logo - logo-wordmark */

.header-logo {
	float: left;
	width: 700px;
	height: 160px;
	margin: 0;
	padding: 0;
	background: /*fuchsia*/ url(../images/NNELS-header-logo.png) no-repeat 5px center;
}

.header-logo a.home-link {
	/*background: lemonchiffon;*/
	float: left;
	width: 235px;
	height: 0px;
	margin: 0;
	padding: 160px 0 0;
	overflow: hidden;
}

.header-logo h1.site-title {
	/*background: orangered;*/
	float: left;
	/*width: 380px;*/
	margin: 5px;
	padding: 0;
	font: normal 36px/40px 'open_sans_condensedbold';
	text-decoration: none;
}

.header-logo h2.site-subtitle {
	/*background: navy;*/
	float: left;
	/*width: 380px;*/
	margin: 5px;
	padding: 0;
	font: normal 24px/28px 'open_sans_condensedbold';
	text-decoration: none;
}

/* @end */

/* @group user-login */

.user-login {
	/*background-color: aqua;*/
	float: right;
	margin: 0;
	padding: 0;
	/*border-left: 1px solid #333333;*/
	/*border-right: 1px dotted #333333;*/
}

/*.user-login.staff {
	margin: 0 10px 0 0;
	padding: 0;
}*/

.user-login.library {
	margin: 0 10px 0 0;
	padding: 0;
}

.user-login a {
	/*background-color: gold;*/
	color: #FFFFFF;
	background-color: #666666;
	border: 1px dotted #333333;
	margin: 30px 0 0;
	padding: 3px 5px;
}

.user-login a:hover {
	color: #EC1C24;
	background-color: #BBBBBB;
}

/* @end */

/* @group user-logged-in */

.user-logged-in {
	/*background-color: firebrick;*/
	float: right;
	margin: 5px 0 0;
	padding: 0 10px;
	clear: right;
}

/*.user-logged-in:before {
	background-color: orangered;
	content: "Hello!...  ";
	color: #666666;
}*/

/* @end */

/* @group browse-repository */

.browse-repository {
	/*background-color: darkgoldenrod;*/
	margin: 0;
	padding: 5px;
	overflow: hidden;
}

.browse-repository .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px dotted #333333;
}



/* @end */

/* @group social-media */

.social-media {
	/*background-color: fuchsia;*/
	/*border: 1px dotted #333333;*/
	margin: 10px 0 0;
	padding: 5px 5px 5px 10px;
}

.social-media .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px dotted #333333;
}

/* @end */

/* @group node-cover-art */

.node-cover-art {
	/*background-color: fuchsia;*/
	text-align: center;
}


/* @end */

/* @group facet searches */

.facet-search {
	/*background-color: orangered;*/
	/*background-color: #DDDDDD;*/
	margin: 0 0 10px;
	padding: 10px;
	border: 1px dotted #333333;
}

.facet-search h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 0 5px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px dotted #333333;
}

.facet-search.creator {
	
}

.facet-search.genre {
	
}

/* @end */

/* @group block-block-2 - copyright/contact */

#block-block-2 {
	float: right;
	width: 380px;
	margin: 0;
	padding: 10px 10px 10px 20px;
	border: 1px dotted #333333;
	/*background: fuchsia;*/
}

/* @end */

/* @group block-block-5 - territory login */

#block-block-5 {
	margin: 0;
	padding: 5px;
	/*background: fuchsia;*/
}

#block-block-5 .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px dotted #333333;
}

#block-block-5 .province-login.sask {
	/*background-color: orangered;*/
	margin: 5px 0 0;
	padding: 5px;
}

#block-block-5 .province-login a {
	/*background-color: gold;*/
	color: #FFFFFF;
	background-color: #666666;
	border: 1px dotted #333333;
	margin: 30px 0 0;
	padding: 3px 5px;
}

#block-block-5 .province-login a:hover {
	color: #EC1C24;
	background-color: #BBBBBB;
}

#block-block-5 .note {
	/*background-color: lawngreen;*/
	margin: 0;
	padding: 5px;
}

/* @end */
