/** NNELS_CALS_v001A **/

/* 01/10/2014 */

/** fields.css **/

/* @group resets */

.field {
}

.field .field-label {
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
}

.field-name-body {
	/*background-color: red;*/
	margin-right: 2em;
	line-height: 22px;
}

.field-collection-container {
	margin: 5px 0;
	padding: 0;
	border-style: none;
}

.field-name-field-external-video {
	margin: 5px 0;
	padding: 0;
}

.field-name-field-file-attachment {
	margin: 5px 0;
	padding: 0;
}

/* @end */

/* Physical Braille formats */

.available-braille {
	margin: 0 0 5px;
	padding: 5px;
}

.available-braille .braille-format-label {
	font-weight: bold;
}

span.braille-note {
	margin: 0 0 5px;
	padding: 5px;
}