/** NNELS_CALS_v001A **/

/* 01/10/2014 */

/** fixed-width-1000.css **/

/* @group body-modifications */

body {
	background: #061C3E;
}

/* @end */

/* @group skip-link */

#skip-link {
	margin: 0;
}

#skip-link a,
#skip-link a:visited {
	display: block;
	width: 100%;
	padding: 2px 0 3px 0;
	/*text-align: center;*/
	background-color: #666;
	color: #fff;
}

#skip-link a:hover,
#skip-link a:visited:hover {
	color: orangered;
}



/* @end */

/* @group page-alignment */

#page {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	width: 100%;
	background: #FFFFFF;
}

.region-bottom {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}



/* @end */

/* @group shared-properties */

#header,
#navigation,
#content,
.region-sidebar-first,
.region-sidebar-second,
#footer {
	border: 0;
	word-wrap: break-word;
}

#header,
#navigation,
#main,
#footer {
	*position: relative;
	*zoom: 1;
}

#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
	content: "";
	display: table;
}

#header:after,
#main:after,
#footer:after {
	clear: both;
}



/* @end */

/* @group header */

#header {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#header .region-header {
	width: 100%;
	height: auto;
	position: relative;
	padding: 0.7rem 0.7rem 0;
	margin: 0;
	overflow: hidden; 
}


/* @end */

/* @group main-navigation */

#navigation {
	/*background: violet;*/
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #336699;
}

#mobile-menu-link {
	display: none;
}

#navigation p {
	margin: 0;
}

/*** Maximum width of 820 pixels. ***/
@media screen and (max-width: 51.25rem) {
	#mobile-menu-link {
		background: none repeat scroll 0% 0% #DDD;
		border-width: 1px 1px 0px;
  		border-style: solid;
  		border-color: #369;
		margin: 1.5rem 0.35em 0;
		padding: 0.7rem 1.2rem;
		font-size: 1.5rem;
		font-family: "clear_sans_mediumregular";
		width: auto;
		display: inline-block;
	}
	#mobile-menu-link:hover,
	#mobile-menu-link:focus,
	#mobile-menu-link:active {
		background: none repeat scroll 0% 0% #EEE;
	}
	#mobile-menu-link:hover,
	#mobile-menu-link:focus {
		color: #C60;
	}
}


/* @end */

/* @group main-search */

#search {
	width: 100%;
	margin: 0;
	padding: 0 0 0 15px;
	background: #EEEEEE;
	background: #D0D0D0;
	border-bottom: 2px solid #336699;
}
/*
.front #search {
	float: left;
	width: 45%;
	padding: 1%;
	margin: 1%;
	border: none;
	background-color: #DDD;
}

@media screen and (max-width: 45.675rem) {
	.front #search {
		width: 95%;
	}
}
*/
/* @end */

/* @group main */

#main {
	position: relative;
	margin: 0;
	padding: 1rem 0 1rem 1rem;
}

/* at 600px */
@media screen and (max-width: 37.8rem) { 
	#main {
		padding-left: 0.5rem;
	}
}

#front-main-views {
	/*background: navajowhite;*/
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

#content {
	margin: 0;
	padding: 1%;
	overflow: hidden;
}

.region-content-bottom {
	clear: both;
	/*background-color: orange;*/
	overflow: hidden;
	margin: 0;
	padding: 10px 0;
}

.region-highlighted {
	clear: both;
	/*background-color: aqua;*/
}

/* @group no-sidebars */

.no-sidebars #content {
	/*background-color: orange;*/
}



/* @end */

/* @group sidebar */
.sidebars {
	width: 20%;
}
.sidebar-first .region-sidebar-first,
.spacer-block, 
.secondary-navigation {
	max-width: 100%;
}

@media screen and (max-width: 51.25rem) {
	.sidebars {
		width: auto;
		max-width: 100%;
	}
}

/* @end */

/* @group sidebar-first */

.sidebar-first #content {
	width: 80%;
	float: right;
	margin: 0;
	padding: 1.5rem 2rem;
	/*background-color: mediumaquamarine;*/
}

.sidebar-first .region-sidebar-first {
	float: left;
	width: 250px;
	margin: 0 -250px 0 0px;
	padding: 10px;
	/*background-color: lightcoral;*/
}

/*** Maximum width of 820 pixels. ***/
@media screen and (max-width: 51.25rem) {
	.sidebar-first #content {
		width: 100%;
	}
	.sidebar-first .region-sidebar-first {
		float: none;
		width: auto;
		max-width: 100%;
	}
}

/* @end */

/* @group front content */

.front #content {
	/*background-color: palegreen;*/
	float: left;
	width: 500px;
}

.front #content {
	width: 52%;
}

@media screen and (max-width: 45.675rem) {
	.front #content {
		width: 95%;
	}
}


/* @end */

/* @group sidebar-second */

/*.sidebar-second #content {
	float: left;
	width: 700px;
	margin: 0 -700px 0 0px;
	padding: 10px;
	background-color: yellow;
}*/

/*.sidebar-second .region-sidebar-second {
	float: left;
	width: 300px;
	margin: 0 -1000px 0 700px;
	padding: 10px;
	background-color: aqua;
}*/

/* @end */

/* @group two-sidebars */

/*.two-sidebars #content {
	float: left;
	width: 568px;
	margin-left: 196px;
	margin-right: -784px;
}*/

/*.two-sidebars .region-sidebar-first {
	float: left;
	width: 176px;
	margin-left: 0px;
	margin-right: -196px;
}*/

/*.two-sidebars .region-sidebar-second {
	 Span 1 column, starting in 5th column from left. 
	float: left;
	width: 176px;
	margin-left: 784px;
	margin-right: -980px;
}*/



/* @end */



/* @end */

/* @group footer */

#footer {
	/*background-color: aqua;*/
	margin: 0;
	padding: 10px;
	border-top: 2px solid #336699;
	background-color: #DDD;
	width: 100%;
}


/* @end */
