/** NNELS_CALS_v001A **/

/* 01/10/2014 */

/** fixed-width-1000.css **/

/* @group body-modifications */

body {
	background: #061C3E;
  min-width: 320px;
}

/* @end */

/* @group skip-link */

#skip-link {
	margin: 0;
}

#skip-link a,
#skip-link a:visited {
	display: block;
	width: 100%;
	padding: 2px 0 3px 0;
	/*text-align: center;*/
	background-color: #666;
	color: #fff;
}

#skip-link a:hover,
#skip-link a:visited:hover {
	color: orangered;
}



/* @end */

/* @group page-alignment */

#page {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	width: 100%;
	background: #FFFFFF;
}

.region-bottom {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}



/* @end */

/* @group shared-properties */

#header,
#navigation,
#content,
.region-sidebar-first,
.region-sidebar-second,
#footer {
	border: 0;
	word-wrap: break-word;
}

#header,
#navigation,
#main,
#footer {
	*position: relative;
	*zoom: 1;
}

#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
	content: "";
	display: table;
}

#header:after,
#main:after,
#footer:after {
	clear: both;
}



/* @end */

/* @group header */

#header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
}
#header .region-utility {
  display: block;
  padding: 5px 5px 5px 5px;
  position: absolute;
  right: 0;
  width: 40%;
  z-index: 80;
}
/*** 540+ ***/
@media screen and (min-width: 34rem) {
  #header .region-utility {
    width: 35%;
  }
}
/*** 731+ ***/
@media screen and (min-width: 45.6875rem) {
  #header .region-utility {
    width: 25%;
  }
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  #header .region-utility {
    background: #ededed;
    border-bottom: 1px solid #336699;
    display: block;
    height: 45px;
    padding-top: 3px;
    position: relative;
    width: 100%;
  }
}
#header .region-header {
  border-bottom: 2px solid #336699;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0.7rem 0.7rem 0;
  margin: 0;
  overflow: hidden;
  z-index: 50;
}
/*** 731+ ***/
@media screen and (min-width: 45.6875rem) {
  #header .region-header {
    height: 175px;
  }
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  #header .region-header {
    border: none;
    float: left;
    height: auto;
    width: 70%;
  }
}
/*** 1008+ ***/
@media screen and (min-width: 63rem) {
  #header .region-header {
    width: 55%;
  }
}

/* @end */

/* @group main-navigation */

#navigation {
	/*background: violet;*/
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
#block-block-22 {
  z-index: 40
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  #navigation {
    border-bottom: 2px solid #336699;
  }
}
#block-block-22 {
	display: none;
}
/*** 731+ ***/
@media screen and (min-width: 45.6875rem) {
  #block-block-22 {
    bottom: 0;
    position: absolute;
  }
}
#navigation p {
	margin: 0;
}

/*** Maximum width of 820 pixels. ***/
@media screen and (max-width: 51.25rem) {
  #block-block-22 {
    display: block;
  }
  #block-block-22 .block-content p {
    margin: 0;
  }
	#mobile-menu-link {
		background: none repeat scroll 0% 0% #DDD;
		border-width: 1px 1px 0px;
  		border-style: solid;
  		border-color: #369;
		margin: 1.5rem 0.35em 0;
		padding: 0.7rem 1.2rem;
		font-size: 1.5rem;
		font-family: "clear_sans_mediumregular";
		width: auto;
    display: inline-block;
	}
	#mobile-menu-link:hover,
	#mobile-menu-link:focus,
	#mobile-menu-link:active {
		background: none repeat scroll 0% 0% #EEE;
	}
	#mobile-menu-link:hover,
	#mobile-menu-link:focus {
		color: #C60;
	}
}


/* @end */

/* @group main-search */

#search {
	width: 100%;
	margin: 0;
	padding: 0 0 0 15px;
	background: #EEEEEE;
	background: #D0D0D0;
	border-bottom: 2px solid #336699;
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  #search {
    background: transparent;
    border: none;
    float: right;
    width: 30%;
  }
}
/*** 1008+ ***/
@media screen and (min-width: 63rem) {
  #search {
    margin-top: 3%;
    width: 45%;
  }
}
/* @end */

/* @group main */

#main {
	position: relative;
	margin: 0;
	padding: 1rem;
}

/* at 600px */
@media screen and (max-width: 37.8rem) { 
	#main {
		padding-left: 0.5rem;
	}
}

#front-main-views {
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

#content {
	margin: 0;
	padding: 1%;
	overflow: hidden;
}

.region-content-bottom {
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 10px 0;
}

.region-highlighted {
	clear: both;
}


/* @group sidebar */
.sidebars {
	width: 20%;
}
.sidebar-first .region-sidebar-first,
.spacer-block, 
.secondary-navigation {
	max-width: 100%;
}

@media screen and (max-width: 51.25rem) {
	.sidebars {
		width: auto;
		max-width: 100%;
	}
}

/* @end */

/* @group sidebar-first */

.sidebar-first #content {
	width: 80%;
	float: right;
	margin: 0;
	padding: 1.5rem 2rem;
	/*background-color: mediumaquamarine;*/
}

.sidebar-first .region-sidebar-first {
	float: left;
	width: 250px;
	margin: 0 -250px 0 0px;
	padding: 10px;
	/*background-color: lightcoral;*/
}

/*** Maximum width of 820 pixels. ***/
@media screen and (max-width: 51.25rem) {
	.sidebar-first #content {
		width: 100%;
	}
	.sidebar-first .region-sidebar-first {
		float: none;
		width: auto;
		max-width: 100%;
	}
}

/* @end */

/* @group front content */

.region-front-side {
	float: left;
	width: 48%;
	padding: 1%;
}
.region-front-side .block-title {
	padding: 0.5rem 0.5rem 0.5rem 0.2rem;
	font-size: 1.8rem;
}

.front #content {
	max-width: 97%;
}

@media screen and (max-width: 45.675rem) {
	.front #content {
		width: 95%;
	}
	.region-front-side {
		width: 95%;
	}
}


/* @end */


/* @group footer */

#footer {
	/*background-color: aqua;*/
	margin: 0;
	padding: 10px;
	border-top: 2px solid #336699;
	background-color: #DDD;
	width: 100%;
}


/* @end */
