/** NNELS_CALS_v001A **/

/* 01/10/2014 */

/** forms.css **/

/* @group Drupal Admin Tables */

form th {
	text-align: left;
	padding: 5px;
	border-bottom: 3px solid #333333;
}

form tbody {
	border-top: 1px solid #333333;
}

form tr.even {
	background-color: transparent;
}

form table .item-list ul {
	margin: 0;
	padding: 0;
}



/* @end */

/* @group generic */
.form-item,
.form-text {
	max-width: 100%;
}

.form-item {
	margin: 10px 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
	border: 1px solid #C00C00;
}

.form-item label {
	display: block;
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
}

.form-item label.option {
	display: inline;
	font-weight: normal;
}

.form-required {
	color: #C00C00;
}

.form-item .description {
	font-size: 11px;
	line-height: 12px;
	margin: 0;
	padding: 8px 5px 5px;
}

.form-checkboxes .form-item,
.form-radios .form-item {
	margin: 5px;
	padding: 0;
}

.form-submit {
}

.container-inline div,
.container-inline label {
	display: inline;
}

.tips {
}

td.menu-disabled {
	background: #ccc;
}



/* @end */

/* @group registered user login */
.block-cals-forms.detail-library-login,
.block-calsauthen.detail-library-login {
	/*background-color: lime;*/
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #336699;
}

#user-login {
	/*text-align: left;*/
	/*background-color: maroon;*/
	/*clear: both;*/
	margin: 0;
	padding: 10px;
}

#user-login .form-actions {
	/*background-color: pink;*/
	margin: 0;
	padding: 0;
}

#user-login .form-submit {
	/*background-color: lime;*/
	margin: 10px 0 0;
	padding: 3px 5px;
	/*color: #FFFFFF;
	background-color: #666666;
	border: 1px dotted #333333;*/
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

#user-login .form-submit:hover {
	/*color: #EC1C24;
	background-color: #BBBBBB;*/
	color: #b34d00;
	background-color: #EEEEEE;
}



/* @end */

/* @group webform-client-form-320 */

#webform-client-form-320 {
	/*background-color: orange;*/
	float: left;
	width: 90%;
}

/* @end */

/* @group cals-external-search-request-new-title-form */

#cals-external-search-request-new-title-form {
	/*background-color: lime;*/
	margin: 0;
	padding: 10px;
}

#cals-external-search-request-new-title-form .field-label {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
	text-transform: capitalize;
}

#cals-external-search-request-new-title-form .content {
	/*background-color: blue;*/
	margin: 0;
	padding: 10px;
}

#cals-external-search-request-new-title-form #edit-submit {
	background-color: peachpuff;
	margin: 5px 0 0;
	padding: 5px 10px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

#cals-external-search-request-new-title-form #edit-submit:hover {
	color: #b34d00;
}

/* @end */

/* @group detail-library-registration */

.detail-library-registration {
	/*background-color: orange;*/
	margin: 0;
	padding: 10px;
}

.detail-library-registration .form-type-textfield {
	/*background-color: pink;*/
	margin: 0;
	padding: 5px;
}

.detail-library-registration .form-item-legal-accept {
	/*background-color: violet;*/
	margin: 0;
	padding: 0;
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
}

.detail-library-registration .form-item-legal-accept strong {
	/*background-color: firebrick;*/
	font: normal normal normal 16px/24px 'clear_sansbold', sans-serif;
}

.detail-library-registration #edit-actions {
	/*background-color: palegreen;*/
	margin: 0;
	padding: 10px 10px 10px 15px;
}

.password-strength {
	max-width: 100%;
}

.detail-library-registration #edit-captcha-response {
	width: 100%;
	max-width: 25rem;
}

.detail-library-registration .form-submit {
	margin: 0;
	padding: 3px 5px;
	background-color: palegoldenrod;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.detail-library-registration .form-submit:hover {
	color: #b34d00;
	background-color: #EEEEEE;
}

/* @end */
