/** NNELS_CALS_v002 **/
/** forums.css **/

/* @group forum */

.page-forum {
	/*background-color: gold;*/
	
}

#forum {
	/*background-color: aqua;*/
	float: left;
	clear: both;
	width: 100%;
}

#forum-0 {
	/*background-color: pink;*/
	margin: 0;
	padding: 0;
}

#forum table {
	/*background-color: orange;*/
}

#forum thead {
	/*background-color: orange;*/
	border-bottom: 2px solid #336699;
}

#forum th {
	/*background-color: indianred;*/
	margin: 0;
	padding: 5px;
	font: normal normal normal 16px/22px 'open_sans_condensedbold', sans-serif;
	vertical-align: bottom;
}

#forum tbody {
	/*background-color: lime;*/
}

#forum tbody tr {
	/*background-color: lime;*/
	border-bottom: 1px solid #336699;
}

#forum td {
	/*background-color: khaki;*/
	margin: 0;
	padding: 5px;
}

#forum th.forum {
	/*background-color: lime;*/
	width: 500px;
}

#forum th.title {
	/*background-color: lime;*/
	width: 500px;
}

#forum .topics,
#forum .posts,
#forum .replies {
	text-align: center;
}

#forum .last-reply {
	text-align: right;
	margin: 0;
	padding: 5px 15px 5px 5px;
}

#forum .name {
	/*background-color: pink;*/
	font: normal normal normal 16px/22px 'open_sans_condensedbold', sans-serif;
}

#forum .description {
	/*background-color: violet;*/
}

#forum span.submitted {
	/*background-color: firebrick;*/
}

/*#forum .title span.submitted {
	margin: 0;
	padding: 0 0 0 5px;
	background-color: firebrick;
}*/

#forum span.submitted a {
	/*background-color: forestgreen;*/
}

#forum span.submitted a:after {
    content: '\A';
    white-space: pre;
	/*background-color: fuchsia;*/
}

/* @end */

/* @group action-links - forum pages */

.page-forum ul.action-links {
	/*background-color: fuchsia;*/
	float: right;
	clear: both;
	width: 100%;
	margin: 0 0 5px;
	padding: 4px 10px 0;
	list-style: none;
	white-space: nowrap;
	line-height: normal;
	font-size: 12px;
	text-transform: lowercase;
	border-bottom: 0px dotted #333333;
}

.page-forum ul.action-links li {
	display: block;
	float: right;
	margin: 0 5px 0 0;
	/*margin: 0;*/
	padding: 0;
	/*background: lavender;*/
	background: none;
	list-style-type: none;
	list-style-image: none;
}

.page-forum ul.action-links a {
	display: block;
	margin: 0;
	padding: 5px 10px;
	text-decoration: none;
	color: #333333;
	border: 1px solid #336699;
	background-color: #FFFFFF;
	text-align: center;
}

.page-forum ul.action-links a:hover,
.page-forum ul.action-links a:focus {
	/*background: transparent;*/
	color: #CC6600;
	background-color: #EEEEEE;
}

/* @end */

/* @group detail node */

.node-forum {
	/*background-color: orange;*/
	margin: 0;
	padding: 10px;
}

.node-forum .submitted {
	/*background-color: pink;
	margin: 5px 0;*/
	padding: 0;
}

.node-forum .field-name-taxonomy-forums {
	/*background-color: pink;*/
	margin: 5px 0;
	padding: 0;
}

.node-forum .field-name-body {
	/*background-color: pink;*/
	margin: 5px 0;
	padding: 0;
}

.node-forum .field-name-field-tags {
	/*background-color: pink;*/
	margin: 5px 0;
	padding: 0;
}

.node-forum .field-name-field-file-attachment {
	/*background-color: olive;*/
	margin: 5px 0;
	padding: 0;
}

.node-forum ul.links.inline {
	/*background-color: violet;*/
	margin: 0;
	padding: 0;
	clear: both;
	list-style-type: none;
	list-style-image: none;
}

.node-forum ul.links.inline a {
	/*background-color: violet;*/
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
	text-decoration: none;
	color: #333333;
	border: 1px solid #336699;
	/*background-color: #FFFFFF;*/
	text-align: center;
}

.node-forum ul.links.inline a:hover,
.node-forum ul.links.inline a:focus {
	/*background: transparent;*/
	color: #CC6600;
	background-color: #EEEEEE;
}

/* @end */
