/** NNELS_CALS_v002 **/

/* 01/10/2014 */

/** navigation.css **/

/* @group admin-jump-menu */

.admin-jump-menu {
	/*background-color: orange;*/
	margin: 0 0 5px;
	padding: 5px;
}
.admin-jump-menu select {
  width: 100%;
}

/* @end */

/* @group language-switcher */

#block-locale-language {
  left: 0px;
  margin: 10px 10px 10px 0;
  position: absolute;
  top: 42px;
  width: 90%;
}
/*** 605+ ***/
@media screen and (min-width: 37.8125rem) {
  #block-locale-language {
  	top: 37px;
  }
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  #block-locale-language {
  	float: left;
  	left: auto;
    padding: 4px 0;
    position: relative;
    margin: 0;
    top: auto;
    width: auto;
  }
}
#block-locale-language ul.language-switcher-locale-url {
	display: block;
  list-style-type: none;
  list-style-image: none;
	margin: 0;
	padding: 0;
}

#block-locale-language ul.language-switcher-locale-url li {
  background-repeat: no-repeat;
  background-size: 30px 16px;
  list-style-type: none;
  list-style-image: none;
	margin: 0;
	padding: 0;
}
#block-locale-language ul.language-switcher-locale-url li.active {
	display: none;
}
#block-locale-language .block-content a {
  background: #DDD;
  border: 1px solid #336699;
  display: block;
  padding: 5px;
  text-align: center;
}
/*** 821+ ***/
@media screen and (min-width: 51.3125rem) {
  #block-locale-language .block-content a {
    background-color: #cc0000;
    border: none;
    border-radius: 6px;
    color: #ededed;
    padding: 5px 10px;
    text-decoration: none;
  }
  body.ps_black_white #block-locale-language .block-content a,
  body.pagestyle_black_white #block-locale-language .block-content a,
  body.ps_white_black #block-locale-language .block-content a,
  body.pagestyle_white_black #block-locale-language .block-content a,
  body.ps_yellow_blue #block-locale-language .block-content a,
  body.pagestyle_yellow_blue #block-locale-language .block-content a {
    background-color: #cc0000 !important;
    color: #ededed !important;
  }
}
#block-locale-language a:hover {
  text-decoration: underline;
}

/* @end */

/* @group main-navigation */

.main-navigation {
	/*background-color: fuchsia;*/
	display: block;
	margin: 0;
	padding: 0 0 0 10px;
}

.main-navigation ul.menu {
	/*background-color: palegreen;*/
	display: block;
	margin: 0;
	padding: 8px 0 0;
	list-style-type: none;
	list-style-image: none;
}

.main-navigation ul.menu li {
	/*background-color: rosybrown;*/
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.main-navigation a {
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 8px;
	font-size: 1rem;
	line-height: 1rem;
	color: #333333;
	background: #DDD;
	border: 1px solid #336699;
	border-bottom: 0px solid #336699;
}
body.i18n-fr .main-navigation a {
  margin: 0 5px 0 0;
  padding: 10px 5px 8px;
  font-size: 0.8rem;
}
/*** 908+ ***/
@media screen and (min-width: 56.75rem) {
  .main-navigation a {
    padding: 10px 15px 8px;
  }
  body.i18n-fr .main-navigation a {
    font-size: 0.9rem;
  }
}
/*** 1008+ ***/
@media screen and (min-width: 63rem) {
  body.i18n-fr .main-navigation a {
    padding: 10px 10px 8px;
  }
}
/*** 1200+ ***/
@media screen and (min-width: 75rem) {
  body.i18n-fr .main-navigation a {
    margin: 0 10px 0 0;
    padding: 10px 15px 8px;
    font-size: 1rem;
  }
}
.main-navigation a.active {
	color: #b34d00;
	background: #EEEEEE;
}

.main-navigation a.active-trail {
	color: #b34d00;
	background: #EEEEEE;
}

.main-navigation a:hover {
	color: #b34d00;
	background: #EEEEEE;
}

@media screen and (max-width: 51.25rem) {
	.main-navigation ul.menu {
		display: none;
	}
}
/* @end */

/* @group secondary-navigation */

.secondary-navigation {
	float: left;
	clear: both;
	width: 240px;
	margin: 10px 0;
	padding: 0 5px;
	border: 1px solid #336699;
	background: #D0D0D0;
}

.secondary-navigation .block-title {
	/*background-color: orangered;*/
	margin: 5px 5px 0;
	padding: 0;
	border-bottom: 1px solid #336699;
}

.secondary-navigation ul.menu {
	/*background-color: palegreen;*/
	display: block;
	margin: 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.secondary-navigation ul.menu li {
	/*background-color: pink;*/
	margin: 0 0 5px;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.secondary-navigation ul.menu li:hover {
	/*background-color: lime;*/
	background: #EEEEEE;
}

.secondary-navigation ul.menu li.is-active-trail {
	/*background-color: lime;*/
	background: #EEEEEE;
}

.secondary-navigation a {
	/*background-color: gold;*/
	display: block;
	margin: 0;
	padding: 0;
	color: #333333;
}

.secondary-navigation a:hover {
	/*background-color: limegreen;*/
	color: #b34d00;
}

.secondary-navigation a.active {
	/*background-color: limegreen;*/
	color: #b34d00;
}

.secondary-navigation.help-categories-block {
	/*background-color: red;*/
	margin: 10px 0;
	padding: 0 5px 10px;
}

.secondary-navigation .help-categories .view-list-ul {
	/*background-color: orchid;*/
	margin: 5px 0 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.secondary-navigation .help-categories .view-list-ul li {
	/*background-color: pink;*/
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

/* @end */

/* @group breadcrumb */

.breadcrumb {
	clear: both;
	width: 100%;
	margin: 0 0 5px;
	padding: 0 10px 0 0;
	text-align: right;
}

.breadcrumb ol {
	margin: 0;
	padding: 0;
}

.breadcrumb li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}



/* @end */

/* @group footer-navigation */

.footer-navigation {
	/*background-color: forestgreen;*/
	float: left;
	min-width: 200px;
	width: auto;
}

.footer-navigation ul.menu {
	/*background-color: palegreen;*/
	display: block;
	margin: 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.footer-navigation ul.menu li {
	/*background-color: rosybrown;*/
	margin: 0 0 5px;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.footer-navigation a {
	/*background-color: gold;*/
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1rem;
	color: #333333;
}

.footer-navigation a:hover {
	/*background-color: limegreen;*/
	color: #b34d00;
}

/*** Maximum width of 540 pixels. ***/
@media screen and (max-width: 34rem) {
	.footer-navigation {
		float: none;
	}
}


/* @end */

/* @group footer-copyright */

.footer-navigation-copyright {
	/*background-color: gold;*/
	clear: both;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer-navigation-copyright ul.menu {
	/*background-color: palegreen;*/
	display: block;
	float: left;
	margin: 0;
	padding: 5px 0 0 10px;
	list-style-type: none;
	list-style-image: none;
}

.footer-navigation-copyright ul.menu li {
	/*background-color: rosybrown;*/
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.footer-navigation-copyright a {
	/*background-color: gold;*/
	display: block;
	margin: 0;
	padding: 5px;
	font-size: 0.75rem;
	line-height: 0.875rem;
	color: #333333;
	border-right: 1px solid #336699;
}

.footer-navigation-copyright ul.menu li.last a {
	border-right: 0px solid #336699;
}

.footer-navigation-copyright a:hover {
	/*background-color: limegreen;*/
	/*color: #FFFFFF;*/
	color: #b34d00;
}

/* @end */

/* @group footer-partnerships 

.footer-partnerships {
	clear: left;
	float: left;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 10px;
}

.footer-partnerships a {
	float: left;
	margin: 0 30px;
	padding: 5px;
}

.footer-partnerships a:hover {
	/*background-color: limegreen;*/
	/*color: #FFFFFF;
	color: #b34d00;
}

@end */

/* @group pager */

.item-list .pager {
	clear: both;
	text-align: right;
    margin: 0;
	padding: 10px;
	/*background-color: fuchsia;*/
	font: normal normal normal 12px/18px 'clear_sans_lightregular', sans-serif;
}

.item-list .pager li {
	margin: 0;
	padding: 0 10px;
}

.pager-current {
	text-decoration: none;
	font: normal normal normal 12px/18px 'clear_sansbold', sans-serif;
}


/* @end */

/* @group admin-toolbar */

.admin-toolbar {
	background-color: fuchsia;
	background-color: #EEEEEE;
	/* width: 240px; */
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 0px;
	border: 1px solid #336699;
}

.sidebar .admin-toolbar {
	width: auto;
}

.sidebar .admin-toolbar .block-content {
	padding: 10px;
}

/*** Maximum width of 540 pixels. ***/
@media screen and (max-width: 34rem) {
	#admin-menu {
		display: none;
	}
}


/* @group Superfish */

.admin-toolbar h2.block-title {
	/*background-color: paleturquoise;*/
	margin: 0;
	padding: 5px 5px 5px 15px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
	background-color: #CCCCCC;
	border-style: none;
}

.admin-toolbar .block-content {
}

#superfish-1,
#superfish-2,
#superfish-3,
#superfish-4 {
	background-color: lime;
	background-color: #EEEEEE;
	width: 215px;
	margin: 0;
	padding: 10px;
}

.sf-vertical,
.sf-vertical li {
	width: 215px;
}

.sf-vertical li:hover > ul {
	left: 215px;
	top: 0;
}

.sf-menu.sf-style-white {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: aqua;
	background-color: #9FC9FF;
	background-color: #CCCCCC;
}

.sf-menu.sf-style-white ul {
	padding-left: 0;
}

.sf-menu.sf-style-white a {
	color: #333333;
	padding: 10px 20px 10px 10px;
	border: none;
	/*background-color: yellow;*/
	/*background-color: #3E90FF;*/
	/*background-color: #9FC9FF;*/
	background-color: #CCCCCC;
}

/*.sf-menu.sf-style-white a.sf-with-ul {
	padding-right: 2.25em;
	background-color: teal;
}*/

.sf-menu.sf-style-white li {
	background-color: #9FC9FF;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 0px solid #666666;
	border-bottom: none;
	background-color: #CCCCCC;
}

.sf-menu.sf-style-white li.sf-depth-1 {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #999999;
	/*background-color: orange;*/
}

.sf-menu.sf-style-white li.last {
	border: none;
}
.sf-menu.sf-style-white li li {
	background: #f7f7f7;
	border: none;
}
.sf-menu.sf-style-white li li li {
	background: #f5f5f5;
	border: none;
}

.sf-menu.sf-style-white li:hover,
.sf-menu.sf-style-white li.active a,
.sf-menu.sf-style-white li.active-trail a.sf-depth-1,
.sf-menu.sf-style-white a:focus,
.sf-menu.sf-style-white a:hover,
.sf-menu.sf-style-white a:active,
.sf-menu.sf-style-white a.active {
	background: #e9e9e9;
	background: #3E90FF;
	background: #9FC9FF;
	color: #FFFFFF;
}

/* @end */

/* @end */
