/** NNELS_CALS_v001 16-07-14**/
/** nodes.css **/

/* @group page-level */

.node {
}

.node-page {
	float: left;
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 0 5px 5px;
}

div.field-name-body h2:first-child {
	/*background-color: firebrick;*/
	margin-top: 10px;
}

/* @end */

/* @group front */

.front #page-title {
	/*background-color: teal;*/
	float: left;
}

.front .node-page {
	/*background-color: orangered;*/
	float: left;
}

/* @end */

/* @group unpublished */

.node-unpublished {
	 background-color: #CCCCCC; 
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-size: 75px;
	line-height: 1;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word;
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
	position: relative;
}



/* @end */

/* @group forum */

.page-forum {
	/*background-color: gold;*/
	
}

#forum {
	/*background-color: aqua;*/
	float: left;
	clear: both;
	width: 100%;
}

#forum-0 {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group repository-item */

.node-type-repository-item {
/* 	background-color: fuchsia; */
}

/* @end */

/* @group tutorial-item */

.node-type-tutorial-video {
	/*background-color: lime;*/
}

/* @end */

/* @group posts */

.node-type-post {
	/*background-color: yellow;*/
}

article.node-post {
	/*background-color: orangered;*/
}

article.node-post .submitted {
	/*background-color: lightcoral;*/
	margin: 0;
	padding: 5px;
}

article.node-post .field-name-og-group-ref {
	/*background-color: gold;*/
}

article.node-post .field-name-body {
	/*background-color: indianred;*/
	margin: 5px;
	padding: 5px;
}

article.node-post ul.links.inline {
	/*background-color: violet;*/
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

article.node-post ul.links.inline li {
	/*background-color: yellowgreen;*/
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

article.node-post ul.links.inline li a {
	background-color: olive;
	background-color: #CCCCCC;
	display: block;
	margin: 5px 10px 5px 5px;
	padding: 5px 10px;
}

section.comments {
	/*background-color: limegreen;*/
}

section.comments h2.title {
	/*background-color: palegreen;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
	border:  none;
	border-bottom: 1px dotted #333333;
}

section.comments h3.comment-title {
	/*background-color: violet;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

section.comments article.comment {
	/*background-color: magenta;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 5px;
	padding: 5px;
	border: 1px dotted #333333;
}

section.comments .field-name-comment-body {
	/*background-color: orange;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.comment-form {
	/*background-color: forestgreen;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px;
	border: 1px dotted #333333;
}

.comment-form .form-item {
	/*background-color: indigo;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 0 0 5px;
	padding: 10px;
}

.comment-form .form-actions {
	/*background-color: pink;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 0 0 5px;
	padding: 10px;
}

.comment-form .filter-wrapper {
	/*background-color: orangered;*/
	float: left;
	clear: both;
	width: 99%;
	margin: 0 0 5px;
	padding: 10px;
}

.comment-form .form-actions input {
	background-color: #CCCCCC;
	/*display: block;*/
	margin: 5px 10px 5px 5px;
	padding: 5px 10px;
	border-style: none;
}

.comment-form .form-actions input:hover {
	background-color: #CCCCCC;
	color: #EC1C24;
}

/* @end */