/*** General rewrites to make site responsive, many rewrites in theme specific files 

Media query break points:
 56.7rem (900px) for header/front page
 51.25rem (820px) for header/menu
 45.675rem (725px) for header/front page
 37.8rem (600px) for header/forum
 34rem (540px) for header/search/footer
 24rem (385px) for repo-item download icons
*/
html {
	font-size: 100%;
	line-height: 1.2rem;
}

/** General Formatting **/
h1.title {
	padding: 0.5rem 0.5rem 0.5rem 0.2rem;
}
h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

p + p {
	margin-top: 1rem;
}
form {
	max-width: 100%;
}
