/** NNELS_CALS_v001 16-07-14**/

/** staging-overrides.css **/

/* @group header-logo - logo-wordmark */

.header-logo {
	/*float: left;
	width: 700px;
	height: 160px;
	margin: 0;
	padding: 0;*/
	/*background: lime url(../images/NNELS-header-logo.png) no-repeat 5px center;*/
	background: pink url(../images/NNELS-header-logo.png) no-repeat 5px center;
}

/* @end */
