/* tabs.css */

/* @group primary-node-edit-tabs */

ul.primary,
ul.secondary {
	/*overflow: hidden;*/
	/*zoom: 1;*/
	/*height: 20px;*/
	/*display: block;*/
	float: left;
	width: 60%;
	margin: 0 0 20px;
	padding: 4px 10px 0;
	list-style: none;
	white-space: nowrap;
	line-height: normal;
	font-size: 12px;
	text-transform: lowercase;
	border-bottom: 1px dotted #333333;
	/*background-color: fuchsia;*/
}

ul.secondary {
	background: palegreen;
}

ul.primary li,
ul.secondary li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	/*margin: 0;*/
	padding: 0;
	/*background: lavender;*/
	background: none;
	list-style-type: none;
	list-style-image: none;
}

ul.primary a,
ul.secondary a {
	display: block;
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #333333;
	border-bottom: 0;
	text-decoration: none;
	color: #333333;
	/*background: transparent;*/
	background: #f2f2f2;
}

ul.primary a:hover,
ul.primary a:focus {
	margin: 0;
	padding: 5px 10px;
	/*background: transparent;*/
	background: #999999;
	color: #ffffff;
}

/* @end */

/* @group action-links */

ul.action-links {
	float: right;
	width: 30%;
	margin: 0 0 20px;
	padding: 4px 10px 0;
	list-style: none;
	white-space: nowrap;
	line-height: normal;
	font-size: 12px;
	text-transform: lowercase;
	border-bottom: 1px dotted #333333;
	/*background-color: fuchsia;*/
}

ul.action-links li {
	display: block;
	float: right;
	margin: 0 5px 0 0;
	/*margin: 0;*/
	padding: 0;
	/*background: lavender;*/
	background: none;
	list-style-type: none;
	list-style-image: none;
}

ul.action-links a {
	display: block;
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #333333;
	border-bottom: 0;
	text-decoration: none;
	color: #333333;
	/*background: transparent;*/
	background: #f2f2f2;
}

ul.action-links a:hover,
ul.action-links a:focus {
	margin: 0;
	padding: 5px 10px;
	/*background: transparent;*/
	background: #999999;
	color: #ffffff;
}

/* @end */

/* @group action-links - forum pages */

.page-forum ul.action-links {
	float: right;
	clear: both;
	width: 100%;
	margin: 0 0 5px;
	padding: 4px 10px 0;
	list-style: none;
	white-space: nowrap;
	line-height: normal;
	font-size: 12px;
	text-transform: lowercase;
	border-bottom: 0px dotted #333333;
	/*background-color: fuchsia;*/
}

.page-forum ul.action-links li {
	display: block;
	float: right;
	margin: 0 5px 0 0;
	/*margin: 0;*/
	padding: 0;
	/*background: lavender;*/
	background: none;
	list-style-type: none;
	list-style-image: none;
}

.page-forum ul.action-links a {
	display: block;
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #333333;
	/*border-bottom: 0;*/
	text-decoration: none;
	color: #333333;
	/*background: transparent;*/
	background: #f2f2f2;
}

.page-forum ul.action-links a:hover,
.page-forum ul.action-links a:focus {
	margin: 0;
	padding: 5px 10px;
	/*background: transparent;*/
	background: #999999;
	color: #ffffff;
}

/* @end */

/* @group quicktabs-discussion-groups */

.quicktabs-wrapper {
	/*background-color: fuchsia;*/
	float: left;
	clear: both;
	border: 1px dotted #333333;
}

.quicktabs_main.quicktabs-style-zen {
	clear: both;
	/*background-color: yellow;*/
}

ul.quicktabs-tabs.quicktabs-style-zen {
	display: block;
	height: 35px;
	margin: 0 0 10px 0;
	padding: 5px;
	background: indianred none;
	background: #EEEEEE none;
}

ul.quicktabs-tabs.quicktabs-style-zen li {
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
	background: /*orangered*/ none;
}

ul.quicktabs-tabs.quicktabs-style-zen li a {
	font-size-adjust: none;
	display: block;
	margin: 0;
	padding: 5px;
	font: 14px/16px 'open_sansregular';
	text-decoration: none;
	border: 0;
	background: limegreen none;
	background: #CCCCCC none;
}

ul.quicktabs-tabs.quicktabs-style-zen li:hover a {
	border: 0;
	background: pink none;
	background: #666666 none;
	color: #FFFFFF;
}

quicktabs-tabs.quicktabs-style-zen li:hover {
	background: olive none;
	background: #666666 none;
}

ul.quicktabs-tabs.quicktabs-style-zen li.active a,
ul.quicktabs-tabs.quicktabs-style-zen li.active a:hover {
	text-decoration: none;
	border: 0;
	background: violet none;
	background: #666666 none;
	color: #FFFFFF;
}

ul.quicktabs-tabs.quicktabs-style-zen li.active {
	background: khaki none;
	background: #666666 none;
}



/* @end */