/** NNELS_CALS_v001 16-07-14**/

/** views.css **/

/* @group views admin tabs*/

.views-displays .secondary li {
	float: none;
	margin: 0 6px 0;
}

.views-displays .secondary a:link,
.views-displays .secondary a:visited {
	text-shadow: none;
	padding: 2px 7px 3px;
}

.views-displays .secondary .open > a {
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-ms-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
	color: #333;
}

.views-displays .secondary .action-list li {
	margin: 0;
}

.views-displays .secondary .action-list li:first-child {
	-webkit-border-radius: 0 7px 0 0;
	-moz-border-radius: 0 7px 0 0;
	-ms-border-radius: 0 7px 0 0;
	-o-border-radius: 0 7px 0 0;
	border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list li:last-child {
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-ms-border-radius: 0 0 7px 7px;
	-o-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}



/* @end*/

/* @group generic views items*/

.views-exposed-form .views-exposed-widget {
    float: left;
	margin: 0;
    padding: 5px;
}

.views-exposed-form .views-exposed-widget.views-submit-button {
 	/*background-color: lemonchiffon;*/
   float: left;
	margin: 0;
    padding: 25px 0 0 10px;
}

.views-exposed-form .views-exposed-widget .form-submit {
	margin: 0;
	padding: 3px 5px;
	background-color: palegoldenrod;
	color: #FFFFFF;
	background-color: #666666;
	border: 1px dotted #333333;
}

.views-exposed-form .views-exposed-widget .form-submit:hover {
	color: #EC1C24;
	background-color: #BBBBBB;
}

.views-label {
	font: normal normal normal 16px/22px 'open_sans_condensedbold';
}


/* @end*/

/* @group global views overrides*/

.views-exposed-form label {
	font: normal normal normal 16px/24px 'open_sans_condensedbold';
}

.block-views {
	/*background-color: orange;*/
}

.views-table {
/*background-color: lawngreen;*/
	float: left;
}


/* @end*/

/* @group faq-list*/

.faq-list {
	/*background-color: fuchsia;*/
	margin: 20px 0 0;
	padding: 0;
}

.faq-list .item-list ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.faq-list .item-list ul li {
	/*background-color: navy;*/
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px dotted #333333;
}

.faq-list .views-field-title {
	/*background-color: fuchsia;*/
	margin: 0;
	padding: 0;
	font: normal normal 16px/18px 'open_sans_condensedbold';
	text-decoration: none;
}

.faq-list .views-field-body {
	/*background-color: goldenrod;*/
	margin: 0;
	padding: 0;
}

.faq-list .views-field-body ul,
.faq-list .views-field-body ol {
	/*background-color: green;*/
	margin: 10px 0 10px 10px;
	padding: 0 0 0 30px;
}

.faq-list .views-field-body ul li {
	/*background-color: goldenrod;*/
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: disc;
	border-style: none;
}

.faq-list .views-field-body ol li {
	/*background-color: rosybrown;*/
	margin: 0;
	padding: 0 0 10px;
	list-style-type: decimal;
	border-style: none;
}

.faq-list .views-field-view-node {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
}

.faq-list .views-field-clone-node,
.faq-list .views-field-edit-node {
	/*background-color: floralwhite;*/
	margin: 0;
	padding: 5px;
}

/* @end*/

/* @group faq - NEW */

.faq-listing-block.landing {
	/*background-color: orange;*/
	float: left;
	width: 98%;
	margin: 0 0 15px;
	padding: 0;
}

.faq-listing-block.secondary {
	/*background-color: pink;*/
	float: left;
	width: 98%;
	margin: 15px 0 0;
	padding: 0;
}

.faq-listing-block.admin {
	/*background-color: limegreen;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 0;
}

.faq-listing {
	/*background-color: purple;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 0;
}

.faq-listing .view-list-ul {
	/*background-color: lawngreen;*/
	float: left;
	width: 98%;
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
	list-style-type: decimal;
}

.faq-listing .view-list-ul li {
	/*background-color: fuchsia;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 0 0 5px;
}


/* @end */

/* @group tutorials-landing*/

.tutorials-landing {
	float: left;
	/*background-color: lime;*/
}

.tutorials-landing .item-list ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.tutorials-landing .item-list ul li {
	/*background-color: navy;*/
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.tutorials-landing .views-field-field-external-video,
.tutorials-landing .views-field-field-image {
	/*background-color: rosybrown;*/
	float: left;
	width: 30%;
	margin: 0;
	padding: 10px;
}

.tutorials-landing .views-field-title {
	/*background-color: fuchsia;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 10px 5px 5px;
	font: normal normal 16px/18px 'open_sans_condensedbold';
	text-decoration: none;
}

.tutorials-landing .views-field-created {
	/*background-color: green;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 5px;
	font: normal normal 16px/18px 'open_sans_condensedbold';
	text-decoration: none;
}

.tutorials-landing .views-field-body {
	/*background-color: goldenrod;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 5px;
}

.tutorials-landing .views-field-view-node {
	/*background-color: forestgreen;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
}

.tutorials-landing .views-field-clone-node,
.tutorials-landing .views-field-edit-node {
	/*background-color: floralwhite;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 5px;
}


/* @end*/

/* @group partners-listing*/

.partners-listing {
/*background-color: fuchsia;*/
	/*float: left;*/
	clear: both;
	margin: 10px 0 0;
	padding: 0;
}

.partners-listing thead {
/*background-color: rosybrown;*/
	border-bottom: 1px solid #333333;
	margin: 0;
	padding: 0;
}

/*.partners-listing tbody {
	background-color: teal;
	margin: 0;
	padding: 0;
}*/

.partners-listing th {
/*background-color: goldenrod;*/
	margin: 0;
	padding: 5px 10px 5px 0;
}

.partners-listing .views-row-first td {
/*background-color: forestgreen;*/
	margin: 0;
	padding: 10px 0 0;
}

/* @end*/

/* @group recently added - front */

.recently-added-block.front {
	/*background-color: purple;*/
	margin: 10px;
	padding: 10px;
	border: 1px dotted #333333;
	overflow: hidden;
}

.recently-added-block.front .block-title {
	/*background-color: orchid;*/
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px dotted #333333;
}

.recently-added {
	/*background-color: thistle;*/
	/*overflow: hidden;*/
}

.recently-added .view-title {
	/*background-color: teal;*/
	margin: 0 0 5px;
	padding: 0;
	font: normal normal 20px/28px 'open_sans_condensedbold';
	text-decoration: none;
	border-bottom: 1px dotted #333333;
}

.recently-added .view-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.recently-added .view-list-ul li {
	/*background-color: peachpuff;*/
	float: left;
	width: 32.5%;
	min-height: 140px;
	margin: 5px 10px 0 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
	border: 1px dotted #333333;
}

.recently-added .view-list-ul li.views-row-last {
	margin: 5px 0 0;
}

.recently-added .views-field-delta {
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.recently-added .views-field-delta img {
	height: 75px;
	width: 50px;
	max-width: 50px !important;
}

.recently-added .views-field-title {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
	font: normal normal normal 16px/20px 'open_sans_condensedbold';
}

.recently-added .views-field-body {
	/*background-color: hotpink;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.recently-added .views-field-nothing {
	/*background-color: sandybrown;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.recently-added .views-field-php {
	/*background-color: aqua;*/
	height: 40px;
	margin: 0 0 0 65px;
	padding: 0;
}

.recently-added .views-field-view-node {
	/*background-color: aqua;*/
	margin: 0 0 0 65px;
	padding: 0 10px 0 0;
	text-align: right;
}

.recently-added .views-field-field-file-resource {
	/*background-color: limegreen;*/
	margin: 0 0 0 65px;
	padding: 0;
}

.recently-added .views-field-field-file-resource .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.recently-added .views-field-field-file-resource .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.recently-added .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border: 0px dotted #333333;
}

/* @end*/

/* @group most downloaded - front */

.most-downloaded-block.front {
	/*background-color: gold;*/
	margin: 10px;
	padding: 10px;
	border: 1px dotted #333333;
	overflow: hidden;
}

.most-downloaded-block.front .block-title {
	/*background-color: teal;*/
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px dotted #333333;
}

.most-downloaded {
	/*background-color: thistle;*/
}

.most-downloaded .view-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.most-downloaded .view-list-ul li {
	/*background-color: pink;*/
	float: left;
	width: 32.5%;
	min-height: 140px;
	margin: 5px 10px 0 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
	border: 1px dotted #333333;
}

.most-downloaded .view-list-ul li.views-row-last {
	margin: 5px 0 0;
}

.most-downloaded .views-field-delta {
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.most-downloaded .views-field-delta img {
	height: 75px;
	width: 50px;
	max-width: 50px !important;
}

.most-downloaded .views-field-title {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
	font: normal normal normal 16px/20px 'open_sans_condensedbold';
}

/*.most-downloaded .views-field-field-dc-description {
	background-color: hotpink;
	margin: 0;
	padding: 5px 5px 5px 65px;
}*/

.most-downloaded .views-field-body {
	/*background-color: hotpink;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.most-downloaded .views-field-nothing {
	/*background-color: sandybrown;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.most-downloaded .views-field-php {
	/*background-color: aqua;*/
	height: 40px;
	margin: 0 0 0 65px;
	padding: 0;
}

.most-downloaded .views-field-view-node {
	/*background-color: aqua;*/
	margin: 0 0 0 65px;
	padding: 0 10px 0 0;
	text-align: right;
}

.most-downloaded .views-field-field-file-resource {
	/*background-color: limegreen;*/
	margin: 0 0 0 65px;
	padding: 0;
}

.most-downloaded .views-field-field-file-resource .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.most-downloaded .views-field-field-file-resource .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.most-downloaded .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border: 0px dotted #333333;
}

/* @end*/

/* @group search-repository*/

.search-repository {
	/*background-color: lightblue;*/
	margin: 0;
	padding: 5px 5px 10px;
	overflow: hidden;
}

.search-repository .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px dotted #333333;
}

.not-front .search-repository .block-title {
	/*background-color: fuchsia;*/
	border-bottom: 0px dotted #333333;
	float: left;
	margin: 0;
	padding: 20px 10px 0 0;
}

.search-repository #views-exposed-form-repository-search-page {
	/*background-color: navy;*/
}

.not-front .search-repository #views-exposed-form-repository-search-page {
	/*background-color: violet;*/
	float: left;
}

.search-repository .views-widget-filter-search_api_views_fulltext_2 {
	/*background-color: rosybrown;*/
}

.search-repository #edit-search-api-views-fulltext-2 {
	width: 300px;
	background-color: #EEEEEE;
	border: 1px dotted #333333;
}

.front .search-repository #edit-search-api-views-fulltext-2 {
	/*background-color: forestgreen;*/
	width: 250px;
}

.search-repository .views-widget-sort-by {
	/*background-color: darkcyan;*/
}

.search-repository .views-widget-sort-by select {
	/*background: lime;*/
	width: 110px;
	background: #EEEEEE;
}

.search-repository .views-widget-sort-order {
	/*background-color: navy;*/
	display: none;
}

.search-repository .views-submit-button {
	margin: 0;
	padding: 0;
}

.search-repository .views-reset-button {
	/*background-color: wheat;*/
	display: none;
}


/* @end*/

/* @group search-results - page*/

.search-results {
	/*background-color: fuchsia;*/
}

.search-results .view-header {
	/*background-color: limegreen;*/
	/*visibility: hidden;*/
}

.search-results .search-skip-link {
	/*background-color: pink;*/
	/*visibility: hidden;*/
}

.search-results .views-label {
	/*background-color: fuchsia;*/
	/*font: normal normal normal 16px/22px 'open_sans_condensedbold';*/
}

.search-results .view-list-ul {
	/*background-color: navy;*/
	width: 100%;
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	overflow: hidden;
}

.search-results .view-list-ul li {
	/*background-color: yellowgreen;*/
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px dotted #333333;
}

.search-results .views-field-nothing {
	/*background-color: fuchsia;*/
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 5px;
}

.search-results .views-field-field-isbn {
	/*background-color: lightblue;*/
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 0;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.search-results .views-field-field-isbn img {
	/*background-color: lightblue;*/
	width: 50px;
	height: 75px;
}

.search-results .views-field-title-field {
	/*background-color: forestgreen;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
	font: normal normal normal 18px/24px 'open_sans_condensedbold';
}

.search-results .views-field-field-dc-creator {
	/*background-color: bisque;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.search-results .views-field-body-value {
	/*background-color: navy;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.search-results .views-field-field-keyword-index {
	/*background-color: salmon;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.search-results .views-field-field-genre {
	/*background-color: aqua;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.search-results .views-field-php {
	/*background-color: fuchsia;*/
	height: 40px;
	margin: 5px 5px 5px 65px;
	padding: 0;
}

.search-results .views-field-view {
	/*background-color: salmon;*/
	margin: 0 0 5px 65px;
	padding: 0;
}

.search-results .views-field-view .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0 0 0 5px;
	list-style-type: none;
	list-style-image: none;
	border: 0px dotted #333333;
}

/* @group external-search*/

.search-results h1.no-results-title { /*page title*/
	clear: both;
	width: 100%;
	margin: 0 0 10px;
	padding: 10px 10px 10px 5px;
	font-family: 'open_sans_condensedbold';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	border-bottom: 1px dotted #333333;
	/*background-color: fuchsia;*/
}

.search-results .field-label {
	/*background-color: fuchsia;*/
	font: normal normal normal 16px/22px 'open_sans_condensedbold';
}

.search-results .field-title {
	/*background-color: forestgreen;*/
	margin: 5px;
	padding: 5px 5px 0;
	font: normal normal normal 18px/24px 'open_sans_condensedbold';
}

.search-results .field-authors,
.search-results .field-publisher,
.search-results .field-isbn,
.search-results .field-description,
.search-results .field-link {
	/*background-color: bisque;*/
	margin: 5px;
	padding: 5px 5px 0;
}



/* @end*/

/* @end*/

/* @group browse-results - page*/

.browse-results {
 	/*background-color: fuchsia;*/ 
}

.browse-results .views-exposed-form {
 	/*background-color: seagreen;*/ 
}

.browse-results .views-label {
 	/*background-color: gold;*/ 
	/*font: normal normal normal 16px/22px 'open_sans_condensedbold';*/
}

.browse-results .view-list-ul .author {
 	/*background-color: firebrick;*/ 
	float: left;
	width: 100%;
	margin: 0 0 20px;
	padding: 0 5px;
	overflow: hidden;
}

.browse-results .item-list h3 {
 	/*background-color: orangered;*/ 
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px 5px 5px 0;
}

.browse-results .view-list-ul {
 	/*background-color: navy;*/ 
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.browse-results .view-list-ul .author-titles {
	/*background-color: fuchsia;*/
	margin: 10px 0 0 10px;
	padding: 0;
}

.browse-results .view-list-ul li {
 	/*background-color: yellowgreen;*/ 
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px dotted #333333;
}

.browse-results .views-field-nothing {
 	/*background-color: fuchsia;*/ 
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 5px;
}

.browse-results .views-field-field-isbn {
 	/*background-color: lightblue;*/ 
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 0;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.browse-results .views-field-field-isbn img {
 	/*background-color: lightblue;*/ 
	width: 50px;
	height: 75px;
}

.browse-results .views-field-title {
 	/*background-color: forestgreen;*/ 
	margin: 5px;
	padding: 5px 5px 5px 60px;
	font: normal normal normal 18px/24px 'open_sans_condensedbold';
}

.browse-results .views-field-field-dc-creator {
/*background-color: bisque;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.browse-results .views-field-body {
/*background-color: navy;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.browse-results .views-field-php {
/*background-color: salmon;*/
	height: 40px;
	margin: 0 0 5px 65px;
	padding: 0;
}

.browse-results .views-field-field-file-resource {
	/*background-color: salmon;*/
	margin: 0 0 5px 65px;
	padding: 0;
}

.browse-results .views-field-field-file-resource .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0 0 0 5px;
	list-style-type: none;
	list-style-image: none;
	border: 0px dotted #333333;
}

/* @end*/

/* @group pager*/

.view .item-list .pager {
	clear: both;
	float: right;
    margin: 0;
	padding: 10px;
	/*background-color: fuchsia;*/
	font: normal normal normal 12px/18px 'open_sanslight';
	overflow: hidden;
}

.view .item-list .pager li {
	width: auto;
	margin: 0;
	padding: 0 10px;
	/*background-color: lime;*/
	border-style: none;
}

.pager-current {
	text-decoration: none;
	font: normal normal normal 12px/18px 'open_sanssemibold';
}


/* @end*/

/* @group daisy-icon*/

span.daisy-icon { 
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	background: /*orange*/ url(../images/daisy-icon.png) no-repeat left center;
}

span.daisy-icon a { 
	display: block;
	height: 40px;
	margin: 0;
	padding: 8px 0 0 50px;
	/*background-color: lime;*/
}

span.daisy-icon-na {
	display: block;
	height: 40px;
	margin: 0;
	padding: 8px 0 0 50px;
	background: /*green*/ url(../images/daisy-icon-na.png) no-repeat left center;
}

span.daisy-icon-login {
	display: block;
	height: 40px;
	margin: 0;
	padding: 8px 0 0 50px;
	background: /*maroon*/ url(../images/daisy-icon-login.png) no-repeat left center;
}

/* @end*/

/* @group OG-discussion*/

.tab-block.og-discussion {
	/*background-color: aqua;*/
	display: block;
	float: left;
	clear: both;
}

/* @group generic*/

.group.list {
	/*background-color: orangered;*/
}

.group.list table.views-table {
	background-color: orangered;
	background-color: #EEEEEE;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 1px dotted #333333;
}

.group.list table.views-table th {
	text-align: left;
	margin: 0;
	padding: 5px;
	vertical-align: bottom;
	border-bottom: 1px dotted #333333;
}

.group.list table.views-table tr.even,
.group.list table.views-table tr.odd {
	margin: 0;
	padding: 0;
	background: none;
	border-bottom: 1px dotted #333333;
}

.group.list table.views-table td {
	margin: 0;
	padding: 5px;
	vertical-align: top;
	/*border: 1px solid lime;*/
}

.group.list table.views-table td.views-field-sticky {
	width: 4%;
	/*background-color: lime;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table td.views-field-sticky .sticky-yes,
.group.list table.views-table td.views-field-sticky .sticky-no {
	background-color: orangered;
	background-color: #CCCCCC;
	display: block;
	width: 24px;
	height: 0px;
	margin: 0;
	padding: 24px 0 0;
	overflow: hidden;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.group.list table.views-table td.views-field-sticky .sticky-no {
	/*background-color: cadetblue;*/
	display: none;
}

.group.list table.views-table td.views-field-nothing {
	width: 55%;
	/*background-color: rosybrown;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table td.views-field-nothing-1 {
	width: 40%;
	/*background-color: aquamarine;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table td.views-field-edit-node {
	/*background-color: violet;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table .views-field-lable {
	/*background-color: violet;*/
	font-family: 'open_sanssemibold';
}

.group.list table.views-table .comment-title {
	/*background-color: violet;*/
	font-family: 'open_sanssemibold';
}



/* @end*/

/* @group all groups*/

.discussion-groups.listing-all {
	/*background-color: orangered;*/
	margin: 0 0 10px;
	padding: 0px;
}

.group.list.all-groups {
	/*background-color: violet;*/
}

.group.list.all-groups .view-list-ul {
	background-color: palegreen;
	background: #EEEEEE;
	margin: 0;
	padding: 10px;
	list-style-image: none;
	list-style-type: none;
}

.group.list.all-groups .view-list-ul li {
	background-color: mediumaquamarine;
	background: #CCCCCC;
	margin: 0 0 5px;
	padding: 5px 10px;
	list-style-image: none;
	list-style-type: none;
	border: 1px dotted #333333;
}

.group.list.all-groups .views-field-title {
	/*background-color: mediumaquamarine;*/
	font-family: 'open_sanssemibold';
}

/* @end*/

/* @group recent discussions*/

.discussion-groups.listing-recent {
	/*background-color: orangered;*/
	margin: 0 0 10px;
	padding: 0px;
}

.group.list.recent-discussions {
	/*background-color: salmon;*/
	margin: 0;
	padding: 10px;
}

.group.list.recent-discussions {
	/*background-color: salmon;*/
	margin: 0;
	padding: 10px;
}



/* @end*/

/* @group discussion, files*/

.group.list.discussion {
	/*background-color: pink;*/
}

.group.list.discussion .view-header {
	/*background-color: blue;*/
}

.group.list.discussion .form-text {
	/*background-color: fuchsia;*/
	width: 400px;
}

.group.list.discussion .views-submit-button {
	/*background-color: lime;*/
	margin: 0;
	padding: 5px 0 0 10px;
}

.group.list.files {
	/*background-color: rosybrown;*/
}

.group.list.files .view-header {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 5px;
}



/* @end*/

/* @end*/

/* @group search-library organizations*/

.section-library-search {
	/*background-color: fuchsia;*/
}

.library-search {
	/*background-color: orangered;*/
}

.library-search.page {
	/*background-color: limegreen;*/
}

/* @group search block*/

.library-search-block {
	/*background-color: pink;*/
	margin: 10px 0 0;
	padding: 10px;
	border: 1px dotted #333333;
}

.library-search-block.overview {
	/*background-color: pink;*/
	margin: 5px 0;
	padding: 10px;
	border: 0px dotted #333333;
}

.library-search-block.non-participating {
	/*background-color: pink;*/
	margin: 5px 0 0;
	padding: 10px 10px 0;
	border: 0px dotted #333333;
}

.library-search-block .views-widget-filter-search_api_views_fulltext label {
	/*background-color: sandybrown;*/
	margin: 0 0 5px;
	padding: 0;
}

.library-search-block .views-widget-filter-search_api_views_fulltext .form-text {
	/*background-color: khaki;*/
	margin: 0;
	padding: 0;
	width: 500px;
}



/* @end*/

/* @group results list*/

.library-search.page .view-list-ul {
	/*background-color: orangered;*/
	margin: 5px 0 0;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.library-search.page .view-list-ul li.views-row {
	/*background-color: lightcoral;*/
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px dotted #333333;
}

.library-search.page .view-list-ul li.views-row.views-row-first {
	border-top: 1px dotted #333333;
}

.library-search.page .views-field-title {
 	/*background-color: violet;*/
	font: 18px/24px 'open_sans_condensedbold';
    margin: 0 0 5px;
    padding: 5px;
}
.library-search.page .views-field-field-headquarters {
        /*background-color: aquamarine;*/
    font: 18px/24px 'open_sans_condensedbold';
    margin: 0 0 5px;
    padding: 5px;
}

.library-search.page .views-field-nothing {
        /*background-color: olive;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-field-consortial-partner {
        /*background-color: cyan;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-php {
 	/*background-color: olive;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-field-partner-library- {
 	/*background-color: salmon;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-field-url-library {
 	/*background-color: aqua;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-edit-node {
 	/*background-color: violet;*/
    margin: 0 0 5px;
    padding: 5px;
	text-align: right;
}



/* @end*/

/* @group partner listings menu */

.partners-listing-block {
	background-color: lime;
	background-color: fuchsia;
	background-color: #EEEEEE;
	width: 240px;
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 0px;
	border: 1px dotted #333333;
}

.partners-listing-block .block-title {
	background-color: magenta;
	margin: 0;
	padding: 5px 5px 5px 15px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px dotted #333333;
	background-color: #CCCCCC;
	/*border-style: none;*/
}

.partners-listing-block .view-list-ul {
	/*background-color: orangered;*/
	margin: 0;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.partners-listing-block .view-list-ul li.views-row {
	/*background-color: lightcoral;*/
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}


/* @end */

/* @group organization details */

.organization-details {
		/*background-color: aqua;*/
}

.organization-details .view-list-ul {
		/*background-color: orangered;*/
		margin: 0;
		padding: 5px 10px 10px;
		list-style-type: none;
		list-style-image: none;
}

.organization-details .view-list-ul li.views-row {
		/*background-color: lightcoral;*/
		margin: 0 0 5px;
		padding: 0;
		list-style-type: none;
		list-style-image: none;
}

.organization-details .views-field-field-logo {
        /*background-color: aqua;*/
        float: right;
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-consortium {
        /*background-color: aquamarine;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-consortium .field-content {
        display: inline;
}

.organization-details .views-field-field-headquarters {
        /*background-color: forestgreen;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-headquarters .field-content {
        display: inline;
}


.organization-details .views-field-field-telephone {
        /*background-color: rosybrown;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-address {
        /*background-color: violet;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-address .views-label-field-address {
        /*background-color: palegreen;*/
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
}

.organization-details .views-field-field-address .field-content {
        /*background-color: orange;*/
        display: inline-block;
        margin: 0;
        padding: 0;
}

.organization-details .views-field-field-partner-library- {
        /*background-color: khaki;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-url-library {
        /*background-color: olivedrab;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-url-library .field-content {
        display: inline;
}


/* @end */

/* @end*/

/* @group repository-item*/

.repository-detail {
	/*background-color: fuchsia;*/
}

.repo-item-block {
	/*background-color: khaki;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item-block h2.block-title {
	/*background-color: limegreen;*/
}

.repo-item {
	/*background-color: fuchsia;*/
}

.repo-item.available-formats {
	/*background-color: limegreen;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

/* @group repo-item - available-formats */

.repo-item.available-formats .view-content {
	/*background-color: pink;*/
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.available-formats .view-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.available-formats .view-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 98%;
	margin: 5px;
	padding: 5px 5px 5px 10px;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.available-formats .view-header {
	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .view-footer {
	/*background-color: orange;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 20px 5px 5px;
	text-align: right;
}

.repo-item.available-formats .view-footer a {
	/*background-color: palegoldenrod;*/
	margin: 30px 0 0;
	margin: 0;
	padding: 3px 5px;
	color: #FFFFFF;
	background-color: #666666;
	border: 1px dotted #333333;
}

.repo-item.available-formats .view-footer a:hover {
	color: #EC1C24;
	background-color: #BBBBBB;
}



/* @end */

.repo-item.daisy-url {
	/*background-color: navy;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.detail {
	/*background-color: orangered;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

/* @group repo-item - detail */

.repo-item.detail .views-label {
 	/*background-color: fuchsia;*/ 
	/*font: normal normal normal 16px/22px 'open_sans_condensedbold';*/
}

.repo-item.detail .views-field-field-dc-creator {
 	/*background-color: pink;*/ 
	margin: 0 0 5px;
	padding: 5px;
}

.repo-item.detail .views-field-field-date {
	/*background-color: forestgreen;*/
	margin: 0 0 5px;
	padding: 5px;
	clear: both;
	/*overflow: hidden;*/
}

.repo-item.detail .views-field-field-date .views-label-field-date {
	/*background-color: violet;*/
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.repo-item.detail .views-field-field-date .field-collection-view {
	/*background-color: blanchedalmond;*/
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.repo-item.detail .views-field-field-date .item-list ul {
 	/*background-color: lime;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.detail .views-field-field-date .item-list ul li {
 	/*background-color: peachpuff;*/
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.detail .field-collection-item-field-date {
 	/*background-color: magenta;*/ 
}

.repo-item.detail .field-name-field-qualifier-date {
 	/*background-color: olive;*/
	float: left;
	margin: 0;
	padding: 5px;
	font-family: 'open_sans_condensedbold';
}

.repo-item.detail .field-name-field-dc-date {
 	/*background-color: palegoldenrod;*/
	float: left;
	margin: 0 10px 0 0;
	padding: 5px;
}

.repo-item.detail .views-field-body {
	/*background-color: salmon;*/
	margin: 0 0 5px;
	padding: 5px;
}

.repo-item.detail .views-field-field-genre {
	/*background-color: rosybrown;*/
	margin: 0 0 5px;
	padding: 5px;
}

.repo-item.detail .views-field-field-dc-subject {
 	/*background-color: yellowgreen;*/ 
	margin: 0 0 5px;
	padding: 5px;
	overflow: hidden;
}

.repo-item.detail .views-field-field-dc-subject .item-list ul {
 	/*background-color: mediumaquamarine;*/ 
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.detail .views-field-field-dc-subject .item-list ul li {
 	/*background-color: tomato;*/ 
	float: left;
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
	list-style-image: none;
	border-left: 1px solid #333333;
	line-height: 16px;
}

.repo-item.detail .views-field-field-dc-subject .item-list ul li.views-row-first {
	border-left: 0px solid #333333;
}

.repo-item.detail .views-field-field-publisher {
/*background-color: khaki;*/
	margin: 0 0 5px;
	padding: 5px;
}

.repo-item.detail .views-field-field-uri .field-content {
	/*background-color: olive;*/
	margin: 0;
	padding: 5px;
}



/* @end */

.marc-xml-data {
 	/*background-color: olive;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
 	background-color: #CCCCCC;
}

/* @group repo-item - data */

.marc-xml-data h2.block-title {
	/*background-color: limegreen;*/
	margin: 0 0 5px;
	padding: 10px;
	border-bottom: 1px dotted #333333;
}

.repo-item.marc-xml {
 	/*background-color: forestgreen;*/
	height: 200px;
	margin: 0 5px;
	padding: 0 10px;
	color: #000000;
	font: 14px/18px "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top: 10px solid #CCCCCC;
	border-bottom: 10px solid #CCCCCC;
 	background-color: #CCCCCC;
}



/* @end */

/* @end*/
