/** NNELS_CALS_v001A **/

/* 01/10/2014 */

/** views.css **/

/* @group views admin tabs*/

.views-displays .secondary li {
	float: none;
	margin: 0 6px 0;
}

.views-displays .secondary a:link,
.views-displays .secondary a:visited {
	text-shadow: none;
	padding: 2px 7px 3px;
}

.views-displays .secondary .open > a {
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-ms-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
	color: #333;
}

.views-displays .secondary .action-list li {
	margin: 0;
}

.views-displays .secondary .action-list li:first-child {
	-webkit-border-radius: 0 7px 0 0;
	-moz-border-radius: 0 7px 0 0;
	-ms-border-radius: 0 7px 0 0;
	-o-border-radius: 0 7px 0 0;
	border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list li:last-child {
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-ms-border-radius: 0 0 7px 7px;
	-o-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}



/* @end*/

/* @group generic views items*/

.views-exposed-form .views-exposed-widget {
	max-width: 100%;
	display: inline-block;
	margin: 0;
    padding: 5px;
}

.views-exposed-form .views-exposed-widget.views-submit-button {
 	/*background-color: lemonchiffon;*/
	float: none;
	display: inline-block;
	margin: 1.35rem 0 0 0.3rem;
	padding: 0;
}
.front .views-exposed-form .views-exposed-widget.views-submit-button {
	width: auto;
	float: none;
	display: inline-block;
	padding: 5px;
}

.views-exposed-form .views-exposed-widget .form-submit {
	/*background-color: palegoldenrod;*/
	margin: 0;
	padding: 3px 5px;
	color: #333333;
    font-family: 'clear_sans_mediumregular';
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.views-exposed-form .views-exposed-widget .form-submit:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}

.views-label {
	font: normal normal normal 16px/22px 'clear_sansbold', sans-serif;
}

.views-exposed-widgets {
	margin: 0;
	padding: 0;
}

/* at 410px */
@media screen and (max-width: 25.6rem) {
	.views-exposed-form .views-exposed-widget.views-submit-button {
		margin-top: 0;
	}
}

/* @end*/

/* @group global views overrides*/

.views-exposed-form label {
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
}

.front .views-exposed-form label {
	font-size: 1.2rem;
	line-height: 1.3rem;
}

.block-views {
	/*background-color: orange;*/
	clear: both;
}

.views-table {
/*background-color: lawngreen;*/
	float: left;
}


/* @end*/

/* @group announcements-landing*/
.announcements-block-landing {
	/*background-color: orange;*/
	float: left;
	width: 98%;
	margin: 0 0 15px;
	padding: 10px;
	/* border: 1px solid #336699; */
}

.announcements .view-list-ul {
	/*background-color: pink;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.announcements .view-list-ul li.views-row {
	/*background-color: lemonchiffon;*/
	float: left;
	width: 98%;
	margin: 0 0 5px;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.announcements .views-field-title-field {
	/*background-color: lavender;*/
	float: left;
	width: 98%;
	margin: 0 0 5px;
	padding: 5px;
	font: normal normal 20px/24px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.announcements .views-field-body, .announcements .views-field-created, .announcements .views-field-field-cors-file, .announcements .views-field-field-location, .announcements .views-field-field-news-date {
	/*background-color: chartreuse;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 0px 0px 5px 5px;
}

.announcements .views-field-view-node {
	/*background-color: teal;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 5px 20px 5px 5px;
	text-align: right;
}

.announcements .views-field-clone-node,
.announcements .views-field-edit-node {
	/*background-color: chartreuse;*/
	float: right;
	margin: 5px;
	padding: 5px;
}

.block-content .more-link {
	clear: both;
}

/* @end*/

/* @group faq-list (DEPRECIATED)*/

.faq-list {
	/*background-color: fuchsia;*/
	margin: 20px 0 0;
	padding: 0;
}

.faq-list .item-list ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.faq-list .item-list ul li {
	/*background-color: navy;*/
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #336699;
}

.faq-list .views-field-title {
	/*background-color: fuchsia;*/
	margin: 0;
	padding: 0;
	font: normal normal 20px/24px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.faq-list .views-field-body {
	/*background-color: goldenrod;*/
	margin: 0;
	padding: 0;
}

.faq-list .views-field-body ul,
.faq-list .views-field-body ol {
	/*background-color: green;*/
	margin: 10px 0 10px 10px;
	padding: 0 0 0 30px;
}

.faq-list .views-field-body ul li {
	/*background-color: goldenrod;*/
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: disc;
	border-style: none;
}

.faq-list .views-field-body ol li {
	/*background-color: rosybrown;*/
	margin: 0;
	padding: 0 0 10px;
	list-style-type: decimal;
	border-style: none;
}

.faq-list .views-field-view-node {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
}

.faq-list .views-field-clone-node,
.faq-list .views-field-edit-node {
	/*background-color: floralwhite;*/
	margin: 0;
	padding: 5px;
}

/* @end*/

/* @group help section */

.help-recent-block {
	/*background-color: orange;*/
	float: left;
	width: 98%;
	margin: 0 0 15px;
	padding: 10px;
	border: 1px solid #336699;
}

.help-recent .view-list-ul {
	/*background-color: pink;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.help-recent .view-list-ul li.views-row {
	/*background-color: lemonchiffon;*/
	float: left;
	width: 98%;
	margin: 0 0 5px;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.help-recent .views-field-title-field {
	/*background-color: lavender;*/
	float: left;
	width: 98%;
	margin: 0 0 5px;
	padding: 5px;
	font: normal normal 20px/24px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.help-recent .views-field-body {
	/*background-color: chartreuse;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 5px;
}

.help-recent .views-field-view-node {
	/*background-color: teal;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 5px 20px 5px 5px;
	text-align: right;
}

.help-recent .views-field-clone-node,
.help-recent .views-field-edit-node {
	/*background-color: chartreuse;*/
	float: right;
	margin: 5px;
	padding: 5px;
}

.help-category-list {
	/*background-color: orange;*/
	float: left;
	width: 98%;
	margin: 0 0 15px;
	padding: 0;
}

.help-category-list .view-list-ul {
	/*background-color: pink;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.help-category-list .view-list-ul li.views-row {
	/*background-color: lemonchiffon;*/
	float: left;
	width: 98%;
	margin: 0 0 5px;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.help-category-list .views-field-title-field {
	/*background-color: lavender;*/
	float: left;
	width: 98%;
	margin: 0 0 5px;
	padding: 5px;
	font: normal normal 20px/24px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.help-category-list .views-field-body {
	/*background-color: chartreuse;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 5px;
}

.help-category-list .views-field-view-node {
	/*background-color: teal;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 5px 20px 5px 5px;
	text-align: right;
}

.help-category-list .views-field-clone-node,
.help-category-list .views-field-edit-node {
	/*background-color: chartreuse;*/
	float: right;
	margin: 5px;
	padding: 5px;
}


/* @end */

/* @group tutorials-landing*/

.tutorials-landing {
	float: left;
	/*background-color: lime;*/
}

.tutorials-landing .item-list ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.tutorials-landing .item-list ul li {
	/*background-color: navy;*/
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.tutorials-landing .views-field-field-external-video,
.tutorials-landing .views-field-field-image {
	/*background-color: rosybrown;*/
	float: left;
	width: 30%;
	margin: 0;
	padding: 10px;
}

.tutorials-landing .views-field-title {
	/*background-color: fuchsia;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 10px 5px 5px;
	font: normal normal 20px/24px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.tutorials-landing .views-field-created {
	/*background-color: green;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 5px;
	font: normal normal 16px/18px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.tutorials-landing .views-field-body {
	/*background-color: goldenrod;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 5px;
}

.tutorials-landing .views-field-view-node {
	/*background-color: forestgreen;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
}

.tutorials-landing .views-field-clone-node,
.tutorials-landing .views-field-edit-node {
	/*background-color: floralwhite;*/
	float: right;
	width: 70%;
	margin: 0;
	padding: 5px;
}


/* @end*/

/* @group partners-listing*/

.partners-listing {
	/*background-color: fuchsia;*/
	/*float: left;*/
	clear: both;
	margin: 10px 0 0;
	padding: 0;
}

.partners-listing thead {
	/*background-color: rosybrown;*/
	border-bottom: 1px solid #336699;
	margin: 0;
	padding: 0;
}

.partners-listing th {
	/*background-color: goldenrod;*/
	margin: 0;
	padding: 5px 10px 5px 0;
}

.partners-listing .views-row-first td {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 10px 0 0;
}

/* @end*/

/* @group recently added - front */

.recently-added-block.front {
	/*background-color: purple;*/
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.recently-added-block.front .block-title {
	/*background-color: orchid;*/
	font-size: 20px;
	line-height: 28px;
}

.recently-added {
	/*background-color: thistle;*/
	/*overflow: hidden;*/
}

.recently-added .view-title {
	/*background-color: teal;*/
	margin: 0 0 5px;
	padding: 0;
	font: normal normal 20px/28px 'clear_sansbold', sans-serif;
	text-decoration: none;
}

.recently-added .view-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.recently-added .view-list-ul li {
	/*background-color: peachpuff;*/
	float: left;
	width: 32.5%;
	min-height: 140px;
	margin: 5px 10px 0 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
	border: 1px solid #336699;
	min-width: 250px;
	background-color: #F0F0F0;
}

.recently-added .view-list-ul li.views-row-last {
	margin: 5px 0 0;
}

.recently-added .views-field-delta {
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.recently-added .views-field-delta img {
	height: 75px;
	width: 50px;
	max-width: 50px !important;
}

.recently-added .views-field-title {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
}

.recently-added .views-field-body {
	/*background-color: hotpink;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.recently-added .views-field-nothing {
	/*background-color: sandybrown;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.recently-added .views-field-php {
	/*background-color: aqua;*/
	height: 40px;
	margin: 0 0 0 65px;
	padding: 0;
}

.recently-added .views-field-view-node {
	/*background-color: aqua;*/
	margin: 0 0 0 65px;
	padding: 0 10px 0 0;
	text-align: right;
}

.recently-added .views-field-field-file-resource {
	/*background-color: limegreen;*/
	margin: 0 0 0 65px;
	padding: 0;
}

.recently-added .views-field-field-file-resource .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.recently-added .views-field-field-file-resource .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.recently-added .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border: 0px solid #336699;
}

@media screen and (max-width: 56.7rem) {
  /*** Front page specific ***/
  .recently-added .view-list-ul li {
  	min-height: 50px;
  	height: auto;
  	width: 100%;
  	padding: .1rem;
  }
  .recently-added .views-field-body {
  	padding: 0;
  }

}

/* @end*/

/* @group most downloaded - front */

.most-downloaded-block.front {
	/*background-color: gold;*/
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.most-downloaded-block.front .block-title {
	/*background-color: teal;*/
	font-size: 1.3rem;
	line-height: 1.4rem;
	margin: 0 0 0.2rem;
}

.most-downloaded {
	/*background-color: thistle;*/
}

.most-downloaded .view-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.most-downloaded .view-list-ul li {
	/*background-color: pink;*/
	float: left;
	width: 32.5%;
	min-height: 140px;
	margin: 5px 10px 0 0;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
	border: 1px solid #336699;
	min-width: 250px;
	background-color: #F0F0F0;
}

.most-downloaded .view-list-ul li.views-row-last {
	margin: 5px 0 0;
}

.most-downloaded .views-field-delta {
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.most-downloaded .views-field-delta img {
	height: 75px;
	width: 50px;
	max-width: 50px !important;
}

.most-downloaded .views-field-title {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
	font: normal normal normal 18px/22px 'clear_sansbold', sans-serif;
}

.most-downloaded .views-field-body {
	/*background-color: hotpink;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.most-downloaded .views-field-nothing {
	/*background-color: sandybrown;*/
	margin: 0;
	padding: 5px 5px 5px 65px;
}

.most-downloaded .views-field-php {
	/*background-color: aqua;*/
	height: 40px;
	margin: 0 0 0 65px;
	padding: 0;
}

.most-downloaded .views-field-view-node {
	/*background-color: aqua;*/
	margin: 0 0 0 65px;
	padding: 0 10px 0 0;
	text-align: right;
}

.most-downloaded .views-field-field-file-resource {
	/*background-color: limegreen;*/
	margin: 0 0 0 65px;
	padding: 0;
}

.most-downloaded .views-field-field-file-resource .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.most-downloaded .views-field-field-file-resource .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.most-downloaded .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border: 0px solid #336699;
}

@media screen and (max-width: 56.7rem) {

  /*** Front page specific ***/
  .most-downloaded .view-list-ul li {
  	min-height: 50px;
  	height: auto;
  	width: 100%;
  	padding: .1rem;
  }
  .most-downloaded .views-field-body {
  	padding: 0;
  }

}

/* @end*/

/* @group search-repository*/

.search-repository {
	/*background-color: lightblue;*/
	margin: 0;
	padding: 5px 5px 10px;
	overflow: hidden;
/*	display: inline-block;
	width: 57%;*/
}

.search-repository .block-title {
	/*background-color: magenta;*/
	border-bottom: 1px solid #336699;
}

.not-front .search-repository .block-title {
	/*background-color: fuchsia;*/
	border-bottom: 0px solid #336699;
	float: left;
	margin: 0;
	padding: 20px 10px 0 0;
}

.search-repository #views-exposed-form-repository-search-page {
	/*background-color: navy;*/
}

.not-front .search-repository #views-exposed-form-repository-search-page {
	/*background-color: violet;*/
	float: left;
}

.search-repository .views-widget-filter-search_api_views_fulltext_2 {
	/*background-color: rosybrown;*/
}

.front .search-repository .views-widget-filter-search_api_views_fulltext_2 {
	width: 70%;
	float: none;
	display: inline-block;
}

@media screen and (max-width: 24rem) {
	.front .search-repository .views-widget-filter-search_api_views_fulltext_2 {
		width: 100%;
	}
}

.search-repository #edit-search-api-views-fulltext-2 {
	width: 300px;
	background-color: #FFFFFF;
	border: 1px solid #336699;
	max-width: 95%;
}

.front .search-repository #edit-search-api-views-fulltext-2 {
	/*background-color: forestgreen;*/
	width: 100%;
}

.search-repository .views-widget-sort-by {
	/*background-color: darkcyan;*/
}

.search-repository .views-widget-sort-by select {
	/*background: lime;*/
	width: 110px;
	background: #FFFFFF;
	border: 1px solid #336699;
}

.search-repository .views-widget-sort-order {
	/*background-color: navy;*/
	display: none;
}

/*.search-repository .views-submit-button {
	margin: 0;
	padding: 0;
}*/

.search-repository .views-submit-button .form-submit {
	/*background-color: palegoldenrod;*/
	margin: 0;
	padding: 5px 10px;
	color: #333333;
	background: #FFFFFF;
	border: 1px solid #336699;
}

.search-repository .views-submit-button .form-submit:hover {
	color: #CC6600;
	background: #D0D0D0;
	background: #C2C2C2;
}

.search-repository .views-reset-button {
	/*background-color: wheat;*/
	display: none;
}

/* @end */

/* @group search-results - page*/

.search-results .view-list-ul {
	/*background-color: navy;*/
	width: 100%;
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	overflow: hidden;
}

.search-results .view-list-ul li {
	/*background-color: yellowgreen;*/
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #336699;
}

.search-results .views-field-nothing {
	/*background-color: fuchsia;*/
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 5px;
}

.search-results .views-field-field-isbn {
	/*background-color: lightblue;*/
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 0;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.search-results .views-field-field-isbn img {
	/*background-color: lightblue;*/
	width: 50px;
	height: 75px;
}

.search-results .views-field-title-field {
	/*background-color: forestgreen;*/
	float: right;
	width: 90%;
	margin: 5px;
	padding: 5px;
	font: normal normal normal 20px/24px 'clear_sansbold', sans-serif;
}

/* at 820px */
@media screen and (max-width: 51.25rem) {
	.search-results .views-field-title-field {
		float: left;
		width: calc(90% - 60px);
	}
}

.search-results .views-field-field-dc-creator,
.search-results .views-field-body-value, 
.search-results .views-field-field-keyword-index, 
.search-results .views-field-field-genre,
.search-results .views-field-view,
.search-results .views-field-field-dc-edition {
	/*background-color: bisque;*/
	float: right;
	width: 90%;
	margin: 5px;
	padding: 5px;
}

.search-results .views-field-view .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	display: block;
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0 0 0 5px;
	list-style-type: none;
	list-style-image: none;
	border: 0px solid #336699;
}

/* file icons */

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .field-content {
	/*background: pink;*/
	float: left;
	display: block;
	/*height: 40px;*/
	margin: 0;
	padding: 0;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .daisy202,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .daisy3,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .mp3,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .file-pdf,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .e-text,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .epub2,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .epub3,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .braille {
	float: left;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	background: /*orangered*/ url(../images/icon_download.png) no-repeat left top;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .field-content a {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 5px 5px 5px 40px;
	/*background: limegreen;*/
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .no-file-avai-icon {
	float: left;
	display: block;
	min-height: 40px;
	margin: 0;
	padding: 5px 5px 5px 40px;
	background: /*palegoldenrod*/ url(../images/icon_nofile-available.png) no-repeat left top;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .no-file-avai-icon a {
	/*background: olive;*/
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
}

.search-results .view-footer .request-title {
	display:inline-block;
}

.browse-results .views-field-view .multi-file-embed .view-embed-list-ul li .views-field-field-s3-file-upload,
.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .views-field-field-s3-file-upload {
	overflow: auto;
}

.search-results .views-field-php.flag-toggle-wrapper {
	display: inline-block;
	float: right;
}

.search-results .views-field-php.flag-toggle-wrapper .flag-message {
	background: #D0D0D0;
	width: 200px;
	font-size: 1em;
}

/* @end */

/* @group external-search*/

.search-results h1.no-results-title { /*page title*/
	clear: both;
	width: 100%;
	margin: 0 0 10px;
	padding: 10px 10px 10px 5px;
	font-family: 'clear_sansbold', sans-serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	border-bottom: 1px solid #336699;
	/*background-color: fuchsia;*/
}

.search-results .field-label {
	/*background-color: fuchsia;*/
	font: normal normal normal 16px/22px 'clear_sansbold', sans-serif;
}

.search-results .field-title {
	/*background-color: forestgreen;*/
	margin: 5px;
	padding: 5px 5px 0;
	font: normal normal normal 18px/24px 'clear_sansbold', sans-serif;
}

.search-results .field-authors,
.search-results .field-publisher,
.search-results .field-isbn,
.search-results .field-description,
.search-results .field-link {
	/*background-color: bisque;*/
	margin: 5px;
	padding: 5px 5px 0;
}



/* @end*/

/* @end*/

/* @group browse-results - page*/

.browse-results {
 	/*background-color: fuchsia;*/ 
}

.browse-results .views-exposed-form {
 	/*background-color: seagreen;*/ 
}

.browse-results .views-label {
 	/*background-color: gold;*/ 
	/*font: normal normal normal 16px/22px 'clear_sansbold', sans-serif;*/
}

.browse-results .view-list-ul .author {
 	/*background-color: firebrick;*/ 
	float: left;
	width: 100%;
	margin: 0 0 20px;
	padding: 0 5px;
	overflow: hidden;
}

.browse-results .item-list h3 {
 	/*background-color: orangered;*/ 
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 5px 5px 5px 0;
}

.browse-results .view-list-ul {
 	/*background-color: navy;*/ 
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.browse-results .view-list-ul .author-titles {
	/*background-color: fuchsia;*/
	margin: 10px 0 0 10px;
	padding: 0;
}

.browse-results .view-list-ul li {
 	/*background-color: yellowgreen;*/ 
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #336699;
}

.browse-results .views-field-nothing {
 	/*background-color: fuchsia;*/ 
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 5px;
}

.browse-results .views-field-field-isbn {
 	/*background-color: lightblue;*/ 
	float: left;
	width: 50px;
	height: 75px;
	margin: 5px;
	padding: 0;
	text-align: center;
	background: #F2F2F2 url(../images/default-image-S.png) no-repeat center center;
}

.browse-results .views-field-field-isbn img {
 	/*background-color: lightblue;*/ 
	width: 50px;
	height: 75px;
}

.browse-results .views-field-title {
 	/*background-color: forestgreen;*/ 
	margin: 5px;
	padding: 5px 5px 5px 60px;
	font: normal normal normal 20px/24px 'clear_sansbold', sans-serif;
}

.browse-results .views-field-field-dc-creator {
/*background-color: bisque;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.browse-results .views-field-body {
/*background-color: navy;*/
	margin: 5px;
	padding: 5px 5px 5px 60px;
}

.browse-results .views-field-php {
/*background-color: salmon;*/
	height: 40px;
	margin: 0 0 5px 65px;
	padding: 0;
}

.browse-results .views-field-field-file-resource {
	/*background-color: salmon;*/
	margin: 0 0 5px 65px;
	padding: 0;
}

.browse-results .views-field-field-file-resource .multi-file-embed {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0 0 5px 65px;
	padding: 0;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li {
	/*background-color: hotpink;*/
	width: 100%;
	min-height: 0;
	margin: 0 0 5px;
	padding: 0 0 0 5px;
	list-style-type: none;
	list-style-image: none;
	border: 0px solid #336699;
}

/* @group file icons */

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .field-content {
	/*background: pink;*/
	display: block;
	margin: 0;
	padding: 0;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .daisy202,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .daisy3,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .mp3,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .file-pdf,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .e-text,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .epub2,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .epub3,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .braille {
	float: left;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	background: /*orangered*/ url(../images/icon_download.png) no-repeat left top;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .field-content a {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0 5px 5px 40px;
	/*background: limegreen;*/
	height: auto;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .no-file-avai-icon {
	float: left;
	display: block;
	min-height: 40px;
	margin: 0;
	padding: 5px 5px 5px 40px;
	background: /*palegoldenrod*/ url(../images/icon_nofile-available.png) no-repeat left top;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li .no-file-avai-icon a {
	/*background: olive;*/
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
}



/* @end */

.browse-by-genre .item-list ul li {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #336699;
}

/* @end*/

/* @group pager*/

.view .item-list .pager {
	clear: both;
	float: right;
    margin: 0;
	padding: 10px;
	/*background-color: fuchsia;*/
	font: normal normal normal 12px/18px 'clear_sans_lightregular', sans-serif;
	overflow: hidden;
}

.view .item-list .pager li {
	width: auto;
	margin: 0;
	padding: 0 10px;
	/*background-color: lime;*/
	border-style: none;
}

.pager-current {
	text-decoration: none;
	font: normal normal normal 12px/18px 'clear_sansbold', sans-serif;
}


/* @end*/

/* @group file-type-icons*/

span.daisy-icon { 
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	background: /*orange*/ url(../images/daisy-icon.png) no-repeat left center;
}

span.daisy-icon a { 
	display: block;
	height: 40px;
	margin: 0;
	padding: 8px 0 0 50px;
	/*background-color: lime;*/
}

/*span.daisy-icon-na {
	display: block;
	height: 40px;
	margin: 0;
	padding: 8px 0 0 50px;
	background: green url(../images/daisy-icon-na.png) no-repeat left center;
}*/

span.daisy-icon-na {
	display: block;
	height: auto;
	margin: 0;
	padding: 5px 5px 5px 40px;
	background: url(../images/icon_nofile-available.png) no-repeat left center;
}

span.no-file-avai-icon {
	display: block;
	height: auto;
	margin: 0;
	padding: 5px 5px 5px 40px;
	background: url(../images/icon_nofile-available.png) no-repeat left center;
}

span.daisy-icon-login {
	display: block;
	height: auto;
	margin: 0;
	padding: 10px 0 0;
	background: url(../images/icon_login-access.png) no-repeat left center;
}

.search-results .views-field-view .multi-file-embed .view-embed-list-ul li .field-content span.daisy-icon-login a {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 5px 5px 5px 40px;
	/*background: limegreen;*/
}

/* Narrator (performer) and Running Time per file embed in Search Results */
.browse-results .view-field-collection-view-repo-files .views-field-field-performer,
.browse-results .view-field-collection-view-repo-files .views-field-field-running-time,
.search-results .views-field-view.solr-embed-file-field-collection .views-field-field-performer,
.search-results .views-field-view.solr-embed-file-field-collection .views-field-field-running-time {
	margin-left: 2.5rem;
}
.browse-results .view-field-collection-view-repo-files .views-field-field-performer,
.browse-results .view-field-collection-view-repo-files .views-field-field-running-time,
.search-results .views-field-view.solr-embed-file-field-collection .views-field-field-performer,
.search-results .views-field-view.solr-embed-file-field-collection .views-field-field-running-time {
	margin-top: -0.2rem;
}
.browse-results .view-field-collection-view-repo-files .views-field-field-running-time + .browse-results .views-field-view.solr-embed-file-field-collection .views-field-field-performer,
.search-results .views-field-view.solr-embed-file-field-collection .views-field-field-running-time + .search-results .views-field-view.solr-embed-file-field-collection .views-field-field-performer {
	margin-top: 0;
}
@media screen and (max-width: 28rem) { /* 448px */
	.browse-results .view-field-collection-view-repo-files .views-field-field-running-time,
	.search-results .views-field-view.solr-embed-file-field-collection .views-field-field-running-time {
		margin-top: 0;
	}
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li span.search-embed-narrator-content a,
.search-results .views-field-view.solr-embed-file-field-collection div.views-field-field-performer span.search-embed-narrator-content a {
    display: inline-block;
    width: unset;
    padding: 3px;
}

.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li span.search-embed-narrator-content,
.browse-results .views-field-field-file-resource .multi-file-embed .view-embed-list-ul li span.search-embed-running-time-content,
.search-results .views-field-view.solr-embed-file-field-collection div.views-field-field-performer span.search-embed-narrator-content,
.search-results .views-field-view.solr-embed-file-field-collection div.views-field-field-running-time span.search-embed-running-time-content {
    display: inline-block;
    float: none;
}

/* @end*/

/* @group OG-discussion*/

.tab-block.og-discussion {
	/*background-color: aqua;*/
	display: block;
	float: left;
	clear: both;
}

/* @group generic*/

.group.list {
	/*background-color: orangered;*/
}

.group.list table.views-table {
	background-color: orangered;
	background-color: #EEEEEE;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 1px solid #336699;
}

.group.list table.views-table th {
	text-align: left;
	margin: 0;
	padding: 5px;
	vertical-align: bottom;
	border-bottom: 1px solid #336699;
}

.group.list table.views-table tr.even,
.group.list table.views-table tr.odd {
	margin: 0;
	padding: 0;
	background: none;
	border-bottom: 1px solid #336699;
}

.group.list table.views-table td {
	margin: 0;
	padding: 5px;
	vertical-align: top;
	/*border: 1px solid lime;*/
}

.group.list table.views-table td.views-field-sticky {
	width: 4%;
	/*background-color: lime;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table td.views-field-sticky .sticky-yes,
.group.list table.views-table td.views-field-sticky .sticky-no {
	background-color: orangered;
	background-color: #CCCCCC;
	display: block;
	width: 24px;
	height: 0px;
	margin: 0;
	padding: 24px 0 0;
	overflow: hidden;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.group.list table.views-table td.views-field-sticky .sticky-no {
	/*background-color: cadetblue;*/
	display: none;
}

.group.list table.views-table td.views-field-nothing {
	width: 55%;
	/*background-color: rosybrown;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table td.views-field-nothing-1 {
	width: 40%;
	/*background-color: aquamarine;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table td.views-field-edit-node {
	/*background-color: violet;*/
	margin: 0;
	padding: 5px;
}

.group.list table.views-table .views-field-lable {
	/*background-color: violet;*/
	font-family: 'clear_sansbold', sans-serif;
}

.group.list table.views-table .comment-title {
	/*background-color: violet;*/
	font-family: 'clear_sansbold', sans-serif;
}



/* @end*/

/* @group all groups*/

.discussion-groups.listing-all {
	/*background-color: orangered;*/
	margin: 0 0 10px;
	padding: 0px;
}

.group.list.all-groups {
	/*background-color: violet;*/
}

.group.list.all-groups .view-list-ul {
	background-color: palegreen;
	background: #EEEEEE;
	margin: 0;
	padding: 10px;
	list-style-image: none;
	list-style-type: none;
}

.group.list.all-groups .view-list-ul li {
	background-color: mediumaquamarine;
	background: #CCCCCC;
	margin: 0 0 5px;
	padding: 5px 10px;
	list-style-image: none;
	list-style-type: none;
	border: 1px solid #336699;
}

.group.list.all-groups .views-field-title {
	/*background-color: mediumaquamarine;*/
	font-family: 'clear_sansbold', sans-serif;
}

/* @end*/

/* @group recent discussions*/

.discussion-groups.listing-recent {
	/*background-color: orangered;*/
	margin: 0 0 10px;
	padding: 0px;
}

.group.list.recent-discussions {
	/*background-color: salmon;*/
	margin: 0;
	padding: 10px;
}

.group.list.recent-discussions {
	/*background-color: salmon;*/
	margin: 0;
	padding: 10px;
}



/* @end*/

/* @group discussion, files*/

.group.list.discussion {
	/*background-color: pink;*/
}

.group.list.discussion .view-header {
	/*background-color: blue;*/
}

.group.list.discussion .form-text {
	/*background-color: fuchsia;*/
	width: 400px;
}

.group.list.discussion .views-submit-button {
	/*background-color: lime;*/
	margin: 0;
	padding: 5px 0 0 10px;
}

.group.list.files {
	/*background-color: rosybrown;*/
}

.group.list.files .view-header {
	/*background-color: forestgreen;*/
	margin: 0;
	padding: 5px;
}



/* @end*/

/* @end*/

/* @group search-library organizations*/

.section-library-search {
	/*background-color: fuchsia;*/
}

.library-search {
	/*background-color: orangered;*/
}

.library-search.page {
	/*background-color: limegreen;*/
}

/* @group search block*/

.library-search-block {
	/*background-color: pink;*/
	margin: 10px 0 0;
	padding: 10px;
	border: 1px solid #336699;
}

.library-search-block.overview {
	/*background-color: pink;*/
	margin: 5px 0;
	padding: 10px;
	border: 0px solid #336699;
}

.library-search-block.non-participating {
	/*background-color: pink;*/
	margin: 5px 0 0;
	padding: 10px 10px 0;
	border: 0px solid #336699;
}

.library-search-block .views-widget-filter-search_api_views_fulltext label {
	/*background-color: sandybrown;*/
	margin: 0 0 5px;
	padding: 0;
}

.library-search-block .views-widget-filter-search_api_views_fulltext .form-text {
	/*background-color: khaki;*/
	margin: 0;
	padding: 0;
	width: 500px;
}

@media screen and (max-width: 34rem) {
	.views-exposed-form .views-exposed-widget .form-text {
		max-width: 95%;
	}
}


/* @end*/

/* @group results list*/

.library-search.page .view-list-ul {
	/*background-color: orangered;*/
	margin: 5px 0 0;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.library-search.page .view-list-ul li.views-row {
	/*background-color: lightcoral;*/
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	border-bottom: 1px solid #336699;
}

.library-search.page .view-list-ul li.views-row.views-row-first {
	border-top: 1px solid #336699;
}

.library-search.page .views-field-title {
 	/*background-color: violet;*/
	font: 20px/24px 'clear_sansbold', sans-serif;
    margin: 0 0 5px;
    padding: 5px;
}
.library-search.page .views-field-field-headquarters {
        /*background-color: aquamarine;*/
    font: 18px/24px 'clear_sansbold', sans-serif;
    margin: 0 0 5px;
    padding: 5px;
}

.library-search.page .views-field-nothing {
        /*background-color: olive;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-field-consortial-partner {
        /*background-color: cyan;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-php {
 	/*background-color: olive;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-field-partner-library- {
 	/*background-color: salmon;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-field-url-library {
 	/*background-color: aqua;*/
    margin: 0 0 5px;
    padding: 5px 5px 5px 10px;
}

.library-search.page .views-field-edit-node {
 	/*background-color: violet;*/
    margin: 0 0 5px;
    padding: 5px;
	text-align: right;
}



/* @end*/

/* @group partner listings menu */

.partners-listing-block {
	background-color: lime;
	background-color: fuchsia;
	background-color: #EEEEEE;
	width: 240px;
	float: left;
	display: block;
	margin: 0 0 10px;
	padding: 0px;
	border: 1px solid #336699;
}

.partners-listing-block .block-title {
	background-color: magenta;
	margin: 0;
	padding: 5px 5px 5px 15px;
	font-size: 20px;
	line-height: 28px;
	border-bottom: 1px solid #336699;
	background-color: #CCCCCC;
	/*border-style: none;*/
}

.partners-listing-block .view-list-ul {
	/*background-color: orangered;*/
	margin: 0;
	padding: 10px;
	list-style-type: none;
	list-style-image: none;
}

.partners-listing-block .view-list-ul li.views-row {
	/*background-color: lightcoral;*/
	margin: 0 0 5px;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}


/* @end */

/* @group organization details */

.organization-details {
		/*background-color: aqua;*/
}

.organization-details .view-list-ul {
		/*background-color: orangered;*/
		margin: 0;
		padding: 5px 10px 10px;
		list-style-type: none;
		list-style-image: none;
}

.organization-details .view-list-ul li.views-row {
		/*background-color: lightcoral;*/
		margin: 0 0 5px;
		padding: 0;
		list-style-type: none;
		list-style-image: none;
}

.organization-details .views-field-field-logo {
        /*background-color: aqua;*/
        float: right;
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-consortium {
        /*background-color: aquamarine;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-consortium .field-content {
        display: inline;
}

.organization-details .views-field-field-headquarters {
        /*background-color: forestgreen;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-headquarters .field-content {
        display: inline;
}


.organization-details .views-field-field-telephone {
        /*background-color: rosybrown;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-address {
        /*background-color: violet;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-address .views-label-field-address {
        /*background-color: palegreen;*/
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
}

.organization-details .views-field-field-address .field-content {
        /*background-color: orange;*/
        display: inline-block;
        margin: 0;
        padding: 0;
}

.organization-details .views-field-field-partner-library- {
        /*background-color: khaki;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-url-library {
        /*background-color: olivedrab;*/
        margin: 5px;
        padding: 5px;
}

.organization-details .views-field-field-url-library .field-content {
        display: inline;
}


/* @end */

/* @end*/

/* @group repository-item*/

.repository-detail {
	/*background-color: fuchsia;*/
}

.repo-item-block {
	/*background-color: khaki;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item-block h2.block-title {
	/*background-color: limegreen;*/
}

.repo-item {
	/*background-color: fuchsia;*/
}

/* @group repo-item - available-formats */

.repo-item.available-formats {
	/*background-color: limegreen;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.available-formats .view-content {
	/*background-color: pink;*/
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.available-formats .view-header {
	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .view-list-ul {
	/*background-color: orange;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.available-formats .view-list-ul li {
	/*background-color: hotpink;*/
	float: left;
	width: 98%;
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.available-formats .views-field-nothing,
.repo-item.available-formats .views-field-nothing-1 {
	/*background-color: lawngreen;*/
	float: right;
	/*width: 10%;*/
	height: 40px;
	margin: 0;
	padding: 5px;
	text-align: center;
}

.repo-item.available-formats .views-field-nothing a,
.repo-item.available-formats .views-field-nothing-1 a {
	/*background-color: palegoldenrod;*/
	display: block;
	margin: 0;
	padding: 3px 10px;
	color: #333333;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.repo-item.available-formats .views-field-nothing a:hover,
.repo-item.available-formats .views-field-nothing-1 a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}

.repo-item.available-formats .views-field-field-s3-file-upload {
	/*background-color: indigo;*/
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.repo-item.available-formats div.file-size-warning-wrapper,
.multi-file-embed div.file-size-warning-wrapper {
  /*  width: 30%;*/
  margin: 1% 0 0 0;
  padding: 5px;
  float: right;
  font-size: 90%;
  height: 40px;
}

/* @group file icons */



.repo-item.available-formats .views-field-field-s3-file-upload .daisy202,
.repo-item.available-formats .views-field-field-s3-file-upload .daisy3,
.repo-item.available-formats .views-field-field-s3-file-upload .mp3,
.repo-item.available-formats .views-field-field-s3-file-upload .file-pdf,
.repo-item.available-formats .views-field-field-s3-file-upload .e-text,
.repo-item.available-formats .views-field-field-s3-file-upload .epub2,
.repo-item.available-formats .views-field-field-s3-file-upload .epub3,
.repo-item.available-formats .views-field-field-s3-file-upload .braille {
	float: left;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	background: /*orangered*/ url(../images/icon_download.png) no-repeat left top;
}

.repo-item.available-formats .views-field-field-s3-file-upload .field-content a {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 8px 5px 5px 40px;
	/*background: limegreen;*/
}

.repo-item.available-formats .views-field-field-s3-file-upload .no-file-avai-icon {
	/*float: left;*/
	display: block;
	min-height: 40px;
	margin: 0;
	padding: 5px 5px 5px 40px;
	background: /*fuchsia*/ url(../images/icon_nofile-available.png) no-repeat left top;
	overflow: visible;
}

.repo-item.available-formats .views-field-field-s3-file-upload .no-file-avai-icon a {
	/*background: olive;*/
	display: block;
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	clear: both;
}

/*** Maximum width of 385 pixels. ***/
@media screen and (max-width: 24rem) {
	.repo-item.available-formats .views-field-field-s3-file-upload,
	.repo-item.available-formats .views-field-field-s3-file-upload .daisy202, .repo-item.available-formats .views-field-field-s3-file-upload .daisy3, .repo-item.available-formats .views-field-field-s3-file-upload .mp3, .repo-item.available-formats .views-field-field-s3-file-upload .file-pdf, .repo-item.available-formats .views-field-field-s3-file-upload .e-text, .repo-item.available-formats .views-field-field-s3-file-upload .epub2, .repo-item.available-formats .views-field-field-s3-file-upload .epub3, .repo-item.available-formats .views-field-field-s3-file-upload .braille {
		height: auto;
	}
}

/* @end */

.repo-item.available-formats .views-field-field-running-time,
.repo-item.available-formats .views-field-field-availability-status  {
	/*background-color: cadetblue;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .views-field-field-accrual-method {
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .views-field-field-accrual-method div.field-content {
	display: inline;
}

.repo-item.available-formats .views-field-field-performer {
	/*background-color: navajowhite;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .views-field-field-description {
	/*background-color: chartreuse;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .views-field-filesize {
	/*background-color: chartreuse;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.available-formats .view-footer {
	/*background-color: orange;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 20px 5px 5px;
	text-align: right;
}

.repo-item.available-formats .view-footer a {
	/*background-color: palegoldenrod;*/
	margin: 30px 0 0;
	margin: 0;
	padding: 3px 10px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.repo-item.available-formats .view-footer a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}



/* @end */

.repo-item.daisy-url {
	/*background-color: navy;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

/* @group repo-item - commercially available data */

.repo-item.comercially-available {
	/*background-color: violet;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.comercially-available .view-content {
	/*background-color: pink;*/
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.comercially-available .view-header .description {
	/*background-color: teal;*/
	margin: 0;
	padding: 5px;
}

.repo-item.comercially-available .view-header {
	/*background-color: beige;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.comercially-available .view-list-ul {
	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.comercially-available .views-row {
	/*background-color: salmon;*/
	float: left;
	width: 98%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.comercially-available .views-field-nothing,
.repo-item.comercially-available .views-field-nothing-1 {
	/*background-color: lawngreen;*/
	float: right;
	/*width: 10%;*/
	/*height: 40px;*/
	margin: 0;
	padding: 0;
	text-align: center;
}

.repo-item.comercially-available .views-field-nothing a,
.repo-item.comercially-available .views-field-nothing-1 a {
	/*background-color: palegoldenrod;*/
	display: block;
	margin: 0 0 0 10px;
	padding: 3px 10px;
	color: #333333;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.repo-item.comercially-available .views-field-nothing a:hover,
.repo-item.comercially-available .views-field-nothing-1 a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}

.repo-item.comercially-available .views-field-item-id {
	/*background-color: cadetblue;*/
	float: left;
	width: 60%;
	margin: 0;
	padding: 5px;
}

.repo-item.comercially-available .views-field-field-file-format-1 {
	/*background-color: sandybrown;*/
	float: left;
	width: 60%;
	margin: 0;
	padding: 5px;
}

.repo-item.comercially-available .views-field-field-url-external,
.repo-item.comercially-available .views-field-field-url-external-1 {
	/*background-color: violet;*/
	float: left;
	width: 60%;
	margin: 0;
	padding: 3px 5px 3px 20px;
}

.repo-item.comercially-available .view-footer {
	/*background-color: lightblue;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 20px 5px 5px;
}

.repo-item.comercially-available.public .view-footer {
	/*background-color: lightblue;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 20px 5px 5px;
}

.repo-item.comercially-available .view-footer .description {
	/*background-color: teal;*/
	margin: 0;
	padding: 5px;
}

.repo-item.comercially-available .view-footer .add-new-link {
	/*background-color: khaki;*/
	float: right;
	margin: 0;
	padding: 5px;
}

.repo-item.comercially-available .view-footer .add-new-link a {
	/*background-color: palegoldenrod;*/
	margin: 0;
	padding: 3px 10px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.repo-item.comercially-available .view-footer .add-new-link a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}



/* @end */

/* @group repo-item - detail */

.repo-item.detail {
	/*background-color: orangered;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.detail .view-content {
	/*background-color: pink;*/
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.detail .view-header {
	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.detail .views-label {
 	/*background-color: fuchsia;*/ 
	/*font: normal normal normal 16px/22px 'clear_sansbold', sans-serif;*/
}

.repo-item.detail .view-list-ul {
	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.detail .views-row {
	/*background-color: salmon;*/
	float: left;
	width: 98%;
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.detail .views-field-body,
.repo-item.detail .views-field-field-dc-creator, 
.repo-item.detail .view-field-collection-view-edition-statement .views-row,
.repo-item.detail .views-field-field-subject,
.repo-item.detail .views-field-field-genre,
.repo-item.detail .views-field-field-publisher,
.repo-item.detail .views-field-field-iso-language,
.repo-item.detail .views-field-field-isbn-audio,
.repo-item.detail .views-label-field-dc-relation,
.repo-item.detail .views-field-field-uri {
	margin: 0 0 5px;
	padding: 5px;
}

.repo-item.detail .views-field-field-date {
	/*background-color: forestgreen;*/
	display: block;
	clear: both;
	margin: 0 0 5px;
	padding: 5px;
	overflow: hidden;
}

.repo-item.detail .views-field-field-date .views-label-field-date,
.repo-item.detail .views-field-field-date .field-collection-view {
	/*background-color: violet;*/
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

.repo-item.detail .views-field-field-date .item-list ul,
.repo-item.detail .views-field-field-date .item-list ul li {
 	/*background-color: lime;*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.detail .views-field-field-date .item-list ul li {
	float: left;
}

.repo-item.detail .field-collection-item-field-date {
 	/*background-color: magenta;*/ 
}

.repo-item.detail .field-name-field-qualifier-date {
 	/*background-color: olive;*/
	float: left;
	margin: 0;
	padding: 2px 0 0 5px;
	font-family: 'clear_sansregular', sans-serif;
}

.repo-item.detail .field-name-field-dc-date {
 	/*background-color: palegoldenrod;*/
	float: left;
	margin: 0;
	padding: 2px 0 0 5px;
}

/* @end */

/* @group administrative metadata */

/*.repo-item.detail .views-field-field-access-rights {
	margin: 0 0 5px;
	padding: 5px;
}*/

/*.repo-item.detail .views-field-field-access-rights div.field-content {
	display: inline;
}*/

/*.repo-item.detail .views-field-field-rights-holder {
	margin: 0 0 5px;
	padding: 5px;
}*/

/*.repo-item.detail .views-field-field-rights-holder div.field-content {
	display: inline;
}*/


/* @end */


/* @group repo-item - XML data */


.repo-item.marc-xml {
 	/*background: forestgreen;*/
	float: left;
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
 	background: #CCCCCC;
}

.repo-item.marc-xml .view-content {
	/*background-color: pink;*/
	width: 100%;
	margin: 0 0 5px;
	padding: 0;
}

.repo-item.marc-xml .view-header {
	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px;
}

.repo-item.marc-xml .view-list-ul {
 	/*background-color: orange;*/
	margin: 0;
	padding: 5px 10px 5px 20px;
	list-style-type: none;
	list-style-image: none;
}

.repo-item.marc-xml .views-row {
 	/*background-color: palegreen;*/
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	font: 14px/18px "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
	color: #333333;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top: 10px solid #CCCCCC;
	/*border-top: 10px solid orange;*/
	border-bottom: 10px solid #CCCCCC;
	/*border-bottom: 10px solid pink;*/
}


/* @end */


/* @group flag-bookshelf */
.node-repository-item .bookshelf-add-wrapper,
.view-repository-search .bookshelf-add-wrapper  {
	float: right !important;
	padding: 5px;
}

/* @end */


/* @group audit-trail - data */

.audit-trail-block {
 	/*background-color: pink;*/
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

.audit-trail-block h2.block-title {
	/*background-color: limegreen;*/
	margin: 0 0 5px;
	padding: 10px;
	border-bottom: 1px solid #336699;
}

.repo-item.audit-trail {
 	/*background-color: darkcyan;*/
}

.repo-item.audit-trail tr {
	border-bottom: 1px solid #333333;
}

.repo-item.audit-trail .views-field-item-id {
 	/*background-color: cadetblue;*/
	width: 80px;
}

.repo-item.audit-trail .views-field-field-activity {
 	/*background-color: darkgoldenrod;*/
	width: 150px;
}

.repo-item.audit-trail .views-field-field-user {
 	/*background-color: violet;*/
	width: 80px;
}

.repo-item.audit-trail .views-field-nothing {
 	/*background-color: pink;*/
	width: 80px;
}

.repo-item.audit-trail .views-field-nothing a {
	/*background-color: hotpink;*/
	display: block;
	clear: both;
	margin: 0 0 5px;
	padding: 5px 10px;
	color: #333333;
    font-family: 'clear_sans_mediumregular';
	background-color: #FFFFFF;
	border: 1px solid #336699;
	text-align: center;
}

.repo-item.audit-trail .views-field-nothing a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}



/* @end */

/* @end*/

/* @group admin-views */

/* @group record-sets */

.repo-item-admin {
	/*background-color: orange;*/
}

.repo-item-admin.record-set {
	/*background-color: lightblue;*/
}

.repo-item-admin.record-set .views-exposed-widgets {
	/*background-color: khaki;*/
	margin: 0;
	padding: 10px;
}

.repo-item-admin.record-set .view-content fieldset {
	/*background-color: fuchsia;*/
	margin: 0;
	padding: 10px;
	border-style: none;
}

.repo-item-admin.record-set .view-content fieldset .form-submit {
	background-color: hotpink;
	margin: 0 5px 0 0;
	padding: 3px 5px;
	color: #333333;
    font-family: 'clear_sans_mediumregular';
	background-color: #FFFFFF;
	border: 1px solid #336699;
}

.repo-item-admin.record-set .view-content fieldset .form-submit:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}

.repo-item-admin.record-set .views-field-nothing {
	/*background-color: hotpink;*/
	margin: 0;
	padding: 5px;
	width: 380px;
}

.repo-item-admin.record-set tr {
	border-bottom: 1px solid #333333;
}

.repo-item-admin.record-set .views-field-title {
	/*background-color: yellow;*/
	margin: 0 0 5px;
	padding: 5px;
	font: normal normal 18px/20px 'clear_sansbold', sans-serif;
}

.repo-item-admin.record-set .views-field-body {
	/*background-color: pink;*/
	margin: 0 0 5px;
	padding: 5px;
}

.repo-item-admin.record-set .views-field-view {
	/*background-color: chartreuse;*/
	margin: 0 0 5px;
	padding: 0;
}

.repo-item-admin.record-set .views-field-field-system-control-number {
	/*background-color: violet;*/
	margin: 0;
	padding: 5px;
	width: 200px;
}

.repo-item-admin.record-set .views-field-delete-node {
	/*background-color: yellow;*/
}

.repo-item-admin.record-set .views-field-delete-node a {
	/*background-color: hotpink;*/
	display: block;
	clear: both;
	margin: 0 0 5px;
	padding: 5px 10px;
	color: #333333;
    font-family: 'clear_sans_mediumregular';
	background-color: #FFFFFF;
	border: 1px solid #336699;
	text-align: center;
}

.repo-item-admin.record-set .views-field-delete-node a:hover {
	color: #CC6600;
	background-color: #EEEEEE;
}

.repo-item-admin.record-set.audit-trail {
	/*background-color: navy;*/
}

.repo-item-admin.record-set.audit-trail ol {
	/*background-color: pink;*/
	margin: 0;
	padding: 0 0 0 20px;
}

.repo-item-admin.record-set.audit-trail ol li {
	/*background-color: pink;*/
	margin: 0;
	padding: 5px;
}


/* @end */



/* @end */
